<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="AlertController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div id="content" style="height: 100vh;">
            <div class="wrapper-md">
                <div class="row m-l m-r al-contents" style="background-color: #fff">
                    <div class="alert-title-posi ">
                        <h3 class="alert-title common_panel_label">报警监控</h3>
                    </div>
                    <div class="col-md-4 m-b">
                        <form class="form-inline">
                            <div class="form-group">
                                <label class="rt-head-label">ID</label>
                                <div style="display:inline-block;">
                                    <input ng-model="vm.queryParams.containerId"
                                           type="text"
                                           style="margin-right:0;"
                                           class="form-control rt-search"
                                           ng-change="validationCheck()"
                                           maxlength="22"
                                           ng-class="{true:'invalida-area',false:''}[isContainerIdInvalida]"
                                           placeholder="请输入云箱ID...">
                                    <div class="validation" ng-show="isContainerIdInvalida">
                                        请输入合法的云箱ID
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- line2 -->
                    <div class="col-md-4 m-b">
                        <form class="form-inline">
                            <div class="form-group">
                                <label>故障类型</label>
                                <select class="form-control" ng-model="vm.queryParams.alertType">
                                    <option ng-repeat="item in vm.options.alertType track by $index" ng-value="item.id">{{item.value}}</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <div class=" col-md-4 m-b">
                        <div class="form-group" style="margin-top:-2.5px;">
                                <span type="submit" class="btn btn-sm btn-alert common_panel_btn" ng-click="vm.getAlerts()">查询监控
                                </span>
                        </div>
                    </div>
                </div>

                <div class="row" style="background-color: #fff;margin-top: 30px">
                    <table st-table="vm.items" st-safe-src="vm.items" class="table table-striped table-hover m-t">
                        <thead>
                        <tr>
                            <th>云箱ID</th>
                            <th>报警时间</th>
                            <th>报警类别</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.alerts track by $index">
                            <td style="vertical-align: middle;">{{item.deviceid}}</td>
                            <td style="vertical-align: middle;">{{item.timestamp | date:"yyyy-MM-dd HH:mm:ss"}}</td>
                            <td style="vertical-align: middle;">{{item.error_description}}</td>
                            <td class="button-group">
                                <div class="command-button-group">
                                    <span class="comm-reset reset-command-button" ng-click="resetClick()"><i class="glyphicon glyphicon-repeat"></i>重置</span>
                                    <span class="comm-shutdown poweroff-command-button" ng-click="shutClick()"><i class="glyphicon glyphicon-off"></i>关机</span>
                                    <a ui-sref="app.realtime({
                                                containerId: item.deviceid
                                            })" class="btn-table-detail">查看详情</a>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <modal-dialog show='resetShow' width='400px' height='130px'>
                    <div class="container-fluid">
                        <div class="row confirm-header">
                            <span class="pull-left">您是否确认重置该云箱?</span>
                        </div>
                        <div class="row confirm-bottom">
                            <span class="pull-right confirm-ok"  ng-click="vm.reset()">确认</span>
                            <span class="pull-right confirm-cancel" ng-click="vm.cancelcmd()">取消</span>
                        </div>
                    </div>
                </modal-dialog>
                <modal-dialog show='shutShow' width='400px' height='130px'>
                    <div class="container-fluid">
                        <div class="row confirm-header">
                            <span class="pull-left">您是否确认关闭该云箱?</span>
                        </div>
                        <div class="row confirm-bottom">
                            <span class="pull-right confirm-ok" ng-click="vm.poweroff()">确认</span>
                            <span class="pull-right confirm-cancel" ng-click="vm.cancelcmd()">取消</span>
                        </div>
                    </div>
                </modal-dialog>
                <tm-pagination style="float:right;" conf="conf"></tm-pagination>
            </div>
        </div>
    </div>
</div>
