<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="BasicinfoController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div id="content" style="height: 100vh;">
            <div class="wrapper-md">
                <div class="row m-l m-r" style="background-color: #fff">
                    <div class="alert-title-posi"><h3 class="basicinfo-title">基础信息查询</h3></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label  style="padding-left:0;"
                                    class="col-md-3 control-label form-control-static">ID</label>

                            <div class="col-md-9" style="padding:0;">
                                <div style="display:inline-block;">
                                    <input ng-model="vm.queryParams.containerId"
                                           type="text"
                                           style="margin-right:0;"
                                           class="form-control rt-search"
                                           ng-change="validationCheck()"
                                           maxlength="22"
                                           ng-class="{true:'invalida-area',false:''}[isContainerIdInvalida]"
                                           placeholder="请输入云箱ID...">
                                    <div class="validation" ng-show="isContainerIdInvalida">
                                        请输入合法的云箱ID：A-Za-z0-9-
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4" >
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">云箱型号</label>
                            <div class="col-md-8">
                                <select name="account" class="form-control m-b" ng-model="vm.queryParams.containerType">
                                    <option ng-repeat="item in vm.options.containerType track by $index" ng-value="item.id">{{item.value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">生产厂家</label>
                            <div class="col-md-8">
                                <select name="account" class="form-control m-b" ng-model="vm.queryParams.factory">
                                    <option ng-repeat="item in vm.options.factory track by $index" ng-value="item.id">{{item.value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- line2 -->
                    <div class="col-md-4" style="clear:both;">
                        <form class="form-inline bi-chuchang">
                            <div class="form-group">
                                <div  class="col-md-3"  style="padding-left:0">
                                    <label>出厂日期</label>
                                </div>

                                <div class="col-md-4" style="padding:0">
                                    <input ng-model="vm.queryParams.startTime"
                                           class=" form-control"
                                           min-view="hours"
                                           placeholder="Select date"
                                           moment-picker
                                           format="YYYY-MM-DD"
                                           style="width:100%;margin:0;"
                                          >
                                </div>
                                <div class="col-md-1"  style="padding:0;text-align: center;margin-top: 6px;">
                                    <label >-</label>
                                </div>
                                <div  class="col-md-4"  style="padding:0">
                                    <input ng-model="vm.queryParams.endTime"
                                           class="form-control"
                                           min-view="hours"
                                           placeholder="Select date"
                                           moment-picker
                                           format="YYYY-MM-DD"

                                           style="width:100%;margin:0;"
                                           >
                                </div>

                            </div>
                        </form>
                    </div>
                    <!-- line3-->
                    <div class="col-md-offset-4 col-md-4">
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="submit" class="btn btn-sm btn-block btn-basicinfo m-b"
                                        ng-click="vm.getBasicInfo()">查询监控
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="background-color: #fff;margin-top: 30px">
                    <table st-table="vm.items" st-safe-src="vm.items" class="table table-striped table-hover m-t">
                        <thead>
                        <tr>
                            <th>云箱ID</th>
                            <th>云箱型号</th>
                            <th>生产地</th>
                            <th>生产厂家</th>
                            <th>出厂日期</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.containerlist track by $index">
                            <td style="vertical-align: middle;">{{item.deviceid}}</td>
                            <td style="vertical-align: middle;">{{item.box_type_name}}</td>
                            <td style="vertical-align: middle;">{{item.produce_area}}</td>
                            <td style="vertical-align: middle;">{{item.manufacturer}}</td>
                            <td style="vertical-align: middle;">{{item.date_of_production | date:"yyyy-MM-dd"}}</td>
                            <td><a class="btn-table-detail" ui-sref="app.realtime({
                                containerId: item.deviceid 
                            })">查看更多</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <tm-pagination style="float:right;" conf="conf"></tm-pagination>
            </div>
        </div>
    </div>
</div>
