<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="basicManageController as vm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <div class="manage-box">
                    <div class="manage-title clearfix">
                        <h4 class="pull-left">云箱基础信息管理</h4>
                        <div class="pull-right inputBtn"><i>+</i>录入</div>
                    </div>
                    <div class="manage-list">
                        <ul>
                            <li><span>修改</span>22937203474450</li>
                            <li><span>修改</span>22937203474450</li>
                            <li><span>修改</span>22937203474450</li>
                            <li><span>修改</span>22937203474450</li>
                            <li><span>修改</span>22937203474450</li>
                        </ul>
                    </div>
                    <div class="basic-paging">
                        <div auto-pagination pageination="vm.pageination"></div>
                    </div>

                </div>
            </div>
            <div class="col-md-7">
                <div class="manage-box safe-box">
                    <div class="manage-title clearfix">
                        <h4 class="pull-left">云箱安全参数设置</h4>
                    </div>
                    <div class="manage-input">
                        <uib-tabset active="activeJustified" justified="true">
                            <uib-tab index="0" heading="标准云箱">
                                <div class="manage-item manage-gps">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <label>GPS中断时间</label>
                                            <input type="text" class="form-control" placeholder="yyyy-mm-dd"> -
                                            <input type="text" class="form-control" placeholder="yyyy-mm-dd">
                                        </div>
                                    </form>
                                </div>
                                <div class="manage-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label>温度区间</label>
                                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                                    <input type="text" class="form-control" placeholder="请输入...">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label>湿度区间</label>
                                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                                    <input type="text" class="form-control" placeholder="请输入...">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="manage-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label>碰撞次数</label>
                                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                                    <input type="text" class="form-control" placeholder="请输入...">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label>开关次数</label>
                                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                                    <input type="text" class="form-control" placeholder="请输入...">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="manage-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label>电池余量</label>
                                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                                    <input type="text" class="form-control" placeholder="请输入...">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="manage-item">
                                    <button class="update-btn">更新设置</button>
                                </div>
                            </uib-tab>
                            <uib-tab index="1" heading="集装器云箱">Short Labeled Justified content</uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="manage-box police-box">
                    <div class="manage-title clearfix">
                        <h4 class="pull-left">报警处理设置</h4>
                        <div class="pull-right inputBtn"><i>+</i>添加</div>
                    </div>
                    <div class="manage-list">
                        <ul>
                            <li><span>修改</span>陕西西安天谷八路</li>
                            <li><span>修改</span>陕西西安天谷八路</li>
                            <li><span>修改</span>陕西西安天谷八路</li>
                            <li><span>修改</span>陕西西安天谷八路</li>
                            <li><span>修改</span>陕西西安天谷八路</li>
                        </ul>
                    </div>
                    <div class="alert-paging"><div auto-pagination pageination="vm.pageination"></div></div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="manage-box fault-box">
                    <div class="manage-title clearfix">
                        <h4 class="pull-left">故障库管理</h4>
                        <div class="pull-right inputBtn"><i>+</i>新增故障</div>
                    </div>
                    <div class="manage-list">
                        <ul>
                            <li><span>修改</span><em>标准云箱</em><em>0X11</em><em>0X11</em><em>严重故障</em></li>
                            <li><span>修改</span><em>标准云箱</em><em>0X11</em><em>0X11</em><em>严重故障</em></li>
                            <li><span>修改</span><em>标准云箱</em><em>0X11</em><em>0X11</em><em>严重故障</em></li>
                            <li><span>修改</span><em>标准云箱</em><em>0X11</em><em>0X11</em><em>严重故障</em></li>
                            <li><span>修改</span><em>标准云箱</em><em>0X11</em><em>0X11</em><em>严重故障</em></li>
                        </ul>
                    </div>
                    <div class="mal-paging"><div auto-pagination pageination="vm.pageination"></div></div>
                </div>
            </div>
        </div>
    </div>
</div>
