<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="basicManageController as vm">
    <div class="container-fluid">

        <div class="row">

            <div class="col-md-5">
                <div class="manage-box">
                    <div class="manage-title clearfix">
                        <h4 class="pull-left">云箱基础信息管理</h4>
                        <div class="pull-right inputBtn" ng-click='toggleModal()'><i>+</i>录入</div>
                    </div>
                    <div class="manage-list">
                        <ul>
                            <li ng-repeat="item in vm.basicInfoManage.basicInfoConfig track by $index" >
                                <span ng-click="toggleUpdate()">修改</span>
                                {{item.containerId}}
                            </li>
                        </ul>
                    </div>
                    <div class="basic-paging">
                        <div auto-pagination pageination="vm.pageination"></div>
                    </div>

                </div>
            </div>
            <div class="col-md-7">
                <div class="manage-box safe-box">
                    <div class="manage-title clearfix">
                        <h4 class="pull-left">云箱安全参数设置</h4>
                    </div>
                    <div class="manage-input">
                        <uib-tabset active="activeJustified" justified="true">
                            <uib-tab index="0" heading="标准云箱">
                                <div class="manage-item manage-gps">
                                    <form class="form-inline">
                                        <div class="form-group">
                                            <label>GPS中断时间</label>
                                            <select ng-model="vm.newSecurityConfig.intervalTime" name="account" class="form-control">
                                                <option ng-repeat="item in vm.options.intervalTime track by $index" >{{item}}</option>
                                            </select>
                                        </div>
                                    </form>
                                </div>
                                <div class="manage-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label>温度区间</label>
                                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                                    <input type="text" class="form-control" placeholder="请输入...">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label>湿度区间</label>
                                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                                    <input type="text" class="form-control" placeholder="请输入...">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="manage-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label>碰撞次数</label>
                                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                                    <input type="text" class="form-control" placeholder="请输入...">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-md-6">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label>开关次数</label>
                                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                                    <input type="text" class="form-control" placeholder="请输入...">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="manage-item">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <form class="form-inline">
                                                <div class="form-group">
                                                    <label>电池余量</label>
                                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                                    <input type="text" class="form-control" placeholder="请输入...">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="manage-item">
                                    <button class="update-btn">更新设置</button>
                                </div>
                            </uib-tab>
                            <uib-tab index="1" heading="集装器云箱">Short Labeled Justified content</uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="manage-box police-box">
                    <div class="manage-title clearfix">
                        <h4 class="pull-left">报警处理设置</h4>
                        <div class="pull-right inputBtn" ng-click="toggleAlertInput()"><i>+</i>添加</div>
                    </div>
                    <div class="manage-list">
                        <ul>
                            <li ng-repeat="item in vm.basicInfoManage.alertConfig track by $index" >
                                <span>修改</span>
                                {{item.maintenanceLocation}}
                            </li>
                        </ul>
                    </div>
                    <div class="alert-paging">
                        <div auto-pagination pageination="vm.pageination"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="manage-box fault-box">
                    <div class="manage-title clearfix">
                        <h4 class="pull-left">故障库管理</h4>
                        <div class="pull-right inputBtn"><i>+</i>新增故障</div>
                    </div>
                    <div class="manage-list">
                        <ul>
                            <li ng-repeat="item in vm.basicInfoManage.issueConfig track by $index" >
                                <span>修改</span>
                                <em>{{item.containerType}}</em>
                                <em>{{item.alertCode}}</em>
                                <em>{{item.alertType}}</em>
                                <em>{{item.alertLevel}}</em>
                            </li>
                        </ul>
                    </div>
                    <div class="mal-paging">
                        <div auto-pagination pageination="vm.pageination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <modal-dialog show='modalInput' width='659px' height='40%'>
        <div class="container-fluid">
            <div class="row">
                <div class="bm-input-header">
                    <span class="pull-left">录入云箱基础信息</span>
                </div>
            </div>
            <div class="row bm-input m-b-md">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">云箱ID</label>
                        <div class="col-md-8">
                            <input ng-model="vm.newBasicInfoConfig.containerId" type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">承运人</label>
                        <div class="col-md-8">
                            <select ng-model="vm.newBasicInfoConfig.carrier" name="account" class="form-control">
                                <option ng-repeat="item in vm.options.carrier track by $index" >{{item}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bm-input m-b-md">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">生产日期</label>
                        <div class="col-md-8">
                            <input date-time ng-model="vm.newBasicInfoConfig.manufactureTime" class="form-control m-b" min-view="hours" format="YYYY-MM-DD HH:mm">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">生产厂家</label>
                        <div class="col-md-8">
                            <select  ng-model="vm.newBasicInfoConfig.factory" name="account" class="form-control">
                                <option ng-repeat="item in vm.options.factory track by $index" >{{item}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bm-input m-b-md">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">生产地点</label>
                        <div class="col-md-8">
                            <select ng-model="vm.newBasicInfoConfig.factoryLocation" name="account" class="form-control">
                                <option ng-repeat="item in vm.options.factoryLocation track by $index" >{{item}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">电源信息</label>
                        <div class="col-md-8">
                            <select  ng-model="vm.newBasicInfoConfig.batteryInfo" name="account" class="form-control">
                                <option ng-repeat="item in vm.options.batteryInfo track by $index" >{{item}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bm-input m-b-md">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-6 control-label form-control-static">智能硬件信息</label>
                        <div class="col-md-6">
                            <select ng-model="vm.newBasicInfoConfig.hardwareInfo" name="account" class="form-control">
                                <option ng-repeat="item in vm.options.hardwareInfo track by $index" >{{item}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="bm-input-bottom">
                    <button class="pull-right bm-save"  ng-click="vm.newBasicInfoConfigPost()">保存</button>
                    <button class="pull-right bm-cancel">取消</button>
                </div>
            </div>
        </div>
    </modal-dialog>

    <modal-dialog show='modalUpdate' width='659px' height='40%'>
        <div class="container-fluid">
            <div class="row">
                <div class="bm-update-header">
                    <span class="pull-left">编辑云箱基础信息</span>
                    <span class="pull-right">删除条目</span>
                </div>
            </div>
            <div class="row bm-input m-b-md">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">湿度区间</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">承运人</label>
                        <div class="col-md-8">
                            <select name="account" class="form-control">
                                <option>标准云箱</option>
                                <option>标准云箱</option>
                                <option>标准云箱</option>
                                <option>标准云箱</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bm-input m-b-md">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">生产日期</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">生产厂家</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bm-input m-b-md">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">生产地点</label>
                        <div class="col-md-8">
                            <select name="account" class="form-control">
                                <option>请选择</option>
                                <option>上海</option>
                                <option>广州</option>
                                <option>北京</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">电源信息</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bm-input m-b-md">

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-6 control-label form-control-static">智能硬件信息</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="bm-input-bottom">
                    <button class="pull-right bm-save">保存</button>
                    <button class="pull-right bm-cancel">取消</button>
                </div>
            </div>
        </div>
    </modal-dialog>

    <modal-dialog show='alertInput' width='659px' height='40%'>
        <div class="container-fluid">
            <div class="row">
                <div class="bm-input-header">
                    <span class="pull-left">录入报警处置信息</span>
                </div>
            </div>
            <div class="row bm-input m-b-md">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">维修点</label>
                        <div class="col-md-8">
                            <input ng-model="vm.newBasicInfoConfig.containerId" type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">国家地区</label>
                        <div class="col-md-8">
                            <input ng-model="vm.newBasicInfoConfig.containerId" type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bm-input m-b-md">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">经度</label>
                        <div class="col-md-8">
                            <input ng-model="vm.newBasicInfoConfig.containerId" type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">纬度</label>
                        <div class="col-md-8">
                            <input ng-model="vm.newBasicInfoConfig.containerId" type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bm-input m-b-md">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="col-md-4 control-label form-control-static">联系方式</label>
                        <div class="col-md-8">
                            <input ng-model="vm.newBasicInfoConfig.containerId" type="text" class="form-control" placeholder="请输入">
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="bm-input-bottom">
                    <button class="pull-right bm-save">保存</button>
                    <button class="pull-right bm-cancel">取消</button>
                </div>
            </div>
        </div>
    </modal-dialog>
</div>


