<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="BoxDetailController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">

        <div id="content">
            <div class="wrapper-md">

                <div class="bd-line2 clearfix">
                    <div class="bd-brief clearfix">
                        <div class="bd-header">
                            <h3>云箱</h3>
                        </div>
                        <div class="bd-brief-body">
                            <div class="bd-img">
                                <img src="http://ol37p4zz4.bkt.clouddn.com/map1.png" class="">
                                <div class="bd-status">
                                    <span>{{vm.realtimeInfo.currentStatus}}</span>
                                </div>
                            </div>

                            <div class="bd-brief-content">
                                <p><span>云箱ID</span>{{vm.realtimeInfo.containerId}}</p>
                                <p><span>云箱型号</span>{{vm.realtimeInfo.containerType}}</p>
                                <p><span>承运方</span>{{vm.realtimeInfo.carrier}}</p>
                                <p><span>当前所在地</span>{{vm.realtimeInfo.locationName}}</p>
                                <p><span>当前位置</span>经度: {{vm.realtimeInfo.position.lat}} 纬度:
                                    {{vm.realtimeInfo.position.lng}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="bd-speed">
                        <div class="bd-header-speed">
                            <h3>当前速度</h3>
                        </div>
                        <div class="bd-speed-content" id="speed-chart">

                        </div>
                        <div class="bd-speed-status">
                            <span>{{vm.speedStatus}}</span>
                        </div>
                    </div>
                </div>

                <div class="bd-line3 clearfix">
                    <div class="bd-temp">
                        <div class="bd-temp-header">
                            <h3>温度</h3>
                        </div>
                        <div class="bd-temp-content">
                            <div class="bd-temp-chart" id="temp-chart">

                            </div>
                            <div class="bd-temp-status">
                                <span>{{vm.realtimeInfo.temperature.status}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="bd-humi">
                        <div class="bd-humi-header">
                            <h3>湿度</h3>
                        </div>
                        <div class="bd-humi-content">
                            <div class="bd-humi-chart" id="humi-chart">

                            </div>
                            <div class="bd-humi-status">
                                <span>{{vm.realtimeInfo.humidity.status}}</span>
                            </div>
                        </div>

                    </div>
                    <div class="bd-batt">
                        <div class="bd-batt-header">
                            <h3>电量</h3>
                        </div>
                        <div class="bd-batt-content">
                            <div class="bd-batt-chart" id="batt-chart">

                            </div>
                            <div class="bd-batt-status">
                                <span>{{vm.realtimeInfo.battery.status}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="bd-info">
                        <div class="bd-info-header">
                            <h3>箱体情况</h3>
                        </div>
                        <div class="bd-info-content">
                            <div class="bd-info-desc">
                                <span class="bd-coll">碰撞次数</span>
                                <span class="bd-open">开门次数</span>
                            </div>
                            <div class="bd-info-sum">
                                <span class="bd-coll-sum">{{vm.realtimeInfo.boxStatus.num_of_collide}}</span>
                                <i class="bd-sep"></i>
                                <span class="bd-open-sum">{{vm.realtimeInfo.boxStatus.num_of_door_open}}</span>
                            </div>
                            <div class="bd-info-img">
                                <img src="http://ol37p4zz4.bkt.clouddn.com/map1.png" alt="">
                            </div>
                            <div class="bd-info-status">
                                <span class="bd-coll-status">安全</span>
                                <span class="bd-open-status">正常</span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row bd-line4 clearfix">
                    <div class="bd-line4-title">
                        <span>云箱历史记录</span>
                    </div>
                    <div class="bd-tab">
                        <uib-tabset active="activeJustified" justified="true">
                            <uib-tab index="0" heading="速&nbsp;度">
                                <div class="bd-chart" id="bd-speed-chart">

                                </div>
                            </uib-tab>
                            <uib-tab index="1" heading="温&nbsp;度">
                                <div class="bd-chart" id="bd-temp-chart">

                                </div>
                            </uib-tab>
                            <uib-tab index="2" heading="湿&nbsp;度">
                                <div class="bd-chart" id="bd-humi-chart">

                                </div>
                            </uib-tab>
                            <uib-tab index="3" heading="电&nbsp;量">
                                <div class="bd-chart" id="bd-batt-chart">

                                </div>
                            </uib-tab>
                            <uib-tab index="4" heading="箱体情况">
                                <div class="bd-chart" id="bd-status-chart">

                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>