<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="BoxstatusController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <!--<div class="bg-light lter b-b wrapper-xs">-->
        <!--<div class="row">-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<h1 class="font-thin h3 text-black m-l m-t-sm">{{vm.title}}</h1>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div id="content" style="height: 100vh;">
            <div class="wrapper-md">
                <div class="row m-l m-r" style="background-color: #fff">
                    <div class="alert-title-posi"><h3 class="boxstatus-title">云箱状态汇总</h3></div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">ID</label>
                            <div class="col-md-8">
                                <input type="email" class="form-control" placeholder="请输入云箱ID">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">当前状态</label>
                            <div class="col-md-8">
                                <select name="account" class="form-control m-b">
                                    <option>在运</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">当前所在地</label>
                            <div class="col-md-8">
                                <select name="account" class="form-control m-b">
                                    <option>中国上海</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- line2 -->
                <div class="row m-l m-r" style="background-color: #fff">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">最高报警级别</label>
                            <div class="col-md-8">
                                <select name="account" class="form-control m-b">
                                    <option>无障碍</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">故障类型</label>
                            <div class="col-md-8">
                                <select name="account" class="form-control m-b">
                                    <option>失联</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">故障代码</label>
                            <div class="col-md-8">
                                <select name="account" class="form-control m-b">
                                    <option>029724</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- line3 -->
                <div class="row m-l m-r" style="background-color: #fff">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">当前速度</label>
                            <div class="col-md-8">
                                <select name="account" class="form-control m-b">
                                    <option>静止</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">碰撞次数</label>
                            <div class="col-md-4 dash-line">
                                <input type="text" class="form-control" placeholder="请输入">
                            </div>

                            <div class="col-md-4 ">
                                <input type="text" class="form-control" placeholder="请输入">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">开关门数</label>
                            <div class="col-md-4 dash-line">
                                <input type="text" class="form-control" placeholder="请输入">
                            </div>

                            <div class="col-md-4 ">
                                <input type="text" class="form-control" placeholder="请输入">
                            </div>
                        </div>
                    </div>
                    <!-- line4 -->
                </div>

                <div class="row m-l m-r" style="background-color: #fff">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">温度区间</label>
                            <div class="col-md-4 dash-line">
                                <input type="text" class="form-control m-b" placeholder="请输入">
                            </div>
                            <div class="col-md-4 ">
                                <input type="text" class="form-control m-b" placeholder="请输入">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">湿度区间</label>
                            <div class="col-md-4 dash-line">
                                <input type="text" class="form-control" placeholder="请输入">
                            </div>

                            <div class="col-md-4 ">
                                <input type="text" class="form-control" placeholder="请输入">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">电池电量</label>
                            <div class="col-md-4 dash-line">
                                <input type="text" class="form-control" placeholder="请输入">
                            </div>
                            <div class="col-md-4 ">
                                <input type="text" class="form-control" placeholder="请输入">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m-l m-r" style="background-color: #fff;">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">承运人</label>
                            <div class="col-md-8">
                                <select name="account" class="form-control m-b">
                                    <option>option 1</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-offset-4 col-md-4">
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-8">
                                <button type="submit" class="btn btn-sm btn-block btn-boxstatus">查 询</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="background-color: #fff;margin-top: 30px">
                    <table st-table="vm.items" st-safe-src="vm.items"
                           class="table table-striped table-hover m-t">
                        <thead>
                        <tr>
                            <!--<th ng-repeat="title in vm.titles">-->
                            <!--{{title}}-->
                            <!--</th>-->
                            <th>云箱ID</th>
                            <th>当前状态</th>
                            <th>所在地</th>
                            <th>承运人</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.containerlist track by $index">
                                <td style="vertical-align: middle;">{{item.containerId}}</td>
                                <td style="vertical-align: middle;">{{item.currentStatus}}</td>
                                <td style="vertical-align: middle;">{{item.position}}</td>
                                <td style="vertical-align: middle;">{{item.carrier}}</td>
                                <td><a href="#" class="btn-table-detail">查看详情</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div auto-pagination pageination="vm.pageination"></div>

            </div>
        </div>
    </div>
</div>