<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="BoxstatusController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div id="content" style="height: 100vh;">
            <div class="wrapper-md">
                <div class="col-md bs-contents" style="background-color: #fff">
                    <div class="row m-l m-r" style="background-color: #fff">
                        <div class="alert-title-posi"><h3 class="boxstatus-title">云箱状态汇总</h3></div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label form-control-static">ID</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" placeholder="请输入云箱ID"
                                           ng-model="vm.queryParams.containerId">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label form-control-static">云箱型号</label>
                                <div class="col-md-8">
                                    <select name="account" class="form-control m-b" ng-model="vm.queryParams.containerType" >
                                        <option ng-repeat="item in vm.options.containerType track by $index" ng-value="item.id">{{item.value}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label form-control-static">当前所在地</label>
                                <div class="col-md-8">
                                    <select name="account" class="form-control m-b" ng-model="vm.queryParams.location">
                                        <option ng-repeat="item in vm.options.location track by $index" ng-value="item.id">{{item.value}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- line2 -->


                    <div class="row m-l m-r" style="background-color: #fff;">
                        <div class="col-md-offset-8 col-md-4 m-b">
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <button type="submit" class="btn btn-sm btn-block btn-boxstatus"
                                            ng-click="vm.getBoxStatus()">查 询
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="background-color: #fff;margin-top: 30px">
                    <table st-table="vm.items" st-safe-src="vm.items"
                           class="table table-striped table-hover m-t">
                        <thead>
                        <tr>
                            <th>云箱ID</th>
                            <th>当前状态</th>
                            <th>当前所在地</th>
                            <th>速度</th>
                            <th>温度</th>
                            <th>湿度</th>
                            <th>碰撞次数</th>
                            <th>开关箱门次数</th>
                            <th>电量</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.containerlist track by $index">
                            <td style="vertical-align: middle;">{{item.deviceid}}</td>
                            <td style="vertical-align: middle;">{{item.available_status}}</td>
                            <td style="vertical-align: middle;">{{item.location_name}}</td>
                            <td style="vertical-align: middle;">{{item.speed}}</td>
                            <td style="vertical-align: middle;">{{item.temperature}}</td>
                            <td style="vertical-align: middle;">{{item.humidity}}%</td>
                            <td style="vertical-align: middle;">{{item.collide}}</td>
                            <td style="vertical-align: middle;">{{item.num_of_door_open}}</td>
                            <td style="vertical-align: middle;">{{item.battery * 100}}%</td>
                            <td><a class="btn-table-detail" ui-sref="app.realtime({
                                containerId: item.containerId 
                            })">查看详情</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <tm-pagination style="float:right;" conf="conf"></tm-pagination>
            </div>
        </div>
    </div>
</div>
