<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="BoxstatusController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div id="content" style="height: 100vh;">
            <div class="wrapper-md">
                <div class="row col-md bs-contents" style="background-color: #fff;padding:10px;">
                    <div class="row m-l m-r" style="background-color: #fff">
                        <div class="alert-title-posi">
                            <h3 class="boxstatus-title common_panel_label">云箱状态汇总</h3>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label form-control-static"
                                       style="text-align: center;">ID</label>

                                <div class="col-md-8" style="display:inline-block;">
                                    <div angucomplete-alt id="containerId" placeholder="请输入云箱ID..."
                                         pause="500"
                                         selected-object="selectedProject"
                                         remote-url="/container/api/v1/cloudbox/monservice/fuzzyDeviceid?"
                                         remote-url-request-formatter="remoteUrlRequestFn"
                                         remote-url-response-formatter="remoteUrlResponse"
                                         remote-url-data-field="items"
                                         title-field="name"
                                         description-field="description"
                                         input-changed="inputChanged"
                                         minlength="1"
                                         input-class="form-control form-control-small"
                                         match-class="highlight">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label form-control-static" style="text-align: center;">云箱型号</label>

                                <div class="col-md-8">
                                    <select name="account" class="form-control m-b"
                                            ng-model="vm.queryParams.containerType">
                                        <option ng-repeat="item in vm.options.containerType track by $index"
                                                ng-value="item.id">{{item.value}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-md-4 control-label form-control-static" style="text-align: center;">当前所在仓库</label>

                                <div class="col-md-8">
                                    <select name="account" class="form-control m-b" ng-model="vm.queryParams.location">
                                        <option ng-repeat="item in vm.options.location track by $index"
                                                ng-value="item.id">{{item.value}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- line2 -->
                    <div class="row m-l m-r" style="background-color: #fff;">
                        <div class="col-md-offset-8 col-md-4 m-b">
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <button type="submit" class="btn common_panel_btn btn-sm btn-block btn-boxstatus"
                                            ng-click="vm.getBoxStatus()">搜索汇总
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-top:30px;">
                    <div ng-show="vm.gettingData" class="row grid_gettingData" style="padding:150px;">
                        <span class="ngGrid_loading_mask"></span>
                        <img class="ngGrid_loading_img" src="images/drop.gif"/>
                    </div>
                    <div style="background-color:#fff!important;padding:-15px;" ng-show="!vm.gettingData" class="row">
                        <div ng-show="!vm.containerlist.length" style="margin-top:80px;">
                            <ng-no-data-fount conf="'filter'"></ng-no-data-fount>
                        </div>
                        <div ng-show="vm.containerlist.length">

                            <div class="grid_tr">
                                <div class="grid_th" style="width:{{row['width']}}" ng-repeat="row in vm.table">
                                    {{row.name}}
                                </div>
                            </div>
                            <div class="grid_tr" ng-repeat="item in vm.containerlist track by $index">
                                <div class="grid_td" style="width:{{vm.table[0]['width']}}" title="{{item.deviceid}}">{{item.deviceid}}</div>
                                <div class="grid_td" style="width:{{vm.table[1]['width']}}" title="{{item.available_status}}">{{item.available_status}}</div>
                                <div class="grid_td" style="width:{{vm.table[2]['width']}}" title="{{item.location_name}}">{{item.location_name}}</div>
                                <div class="grid_td" style="width:{{vm.table[3]['width']}}" title="{{item.speed}}">{{item.speed}}</div>
                                <div class="grid_td" style="width:{{vm.table[4]['width']}}" title="{{item.temperature}}">{{item.temperature}}</div>
                                <div class="grid_td" style="width:{{vm.table[5]['width']}}" title="{{item.humidity}}">{{item.humidity}}</div>
                                <div class="grid_td" style="width:{{vm.table[6]['width']}}"><a class="btn-table-detail"
                                                                                               ui-sref="app.realtime({
                                containerId: item.deviceid
                            })">查看详情</a></div>
                            </div>
                        </div>
                        <tm-pagination  style="float:right;" conf="conf"></tm-pagination>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
