<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="ContainerOverviewController as vm"
    ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div class="" style="position: relative">
            <div class="floating-panel-overview">
              <div class="title">
                云箱总数
              </div>
              <div class="count">
                {{container_num}}
              </div>
            </div>
            <div id="containeroverview" class="mapview" style="min-height:calc(100vh - 50px)"></div>
        </div>
    </div>
</div>
