<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="HistorylocationController as vm"
    ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div class="" style="position: relative">
            <div class="floating-panel-his">
                <span class="instTitleHis">历史轨迹</span>
                <div class="instRightHis">
                    <span class="instLabelHis instLabelHis-label" >ID</span>
                    <div style="display:inline-block;float:left;">
                       <input ng-model="vm.queryParams.containerId"
                               type="text"
                               style="margin-right:0;"
                               class="form-control rt-search {{containerId_class}}"
                               ng-change="validationCheck()"
                               maxlength="22"
                               placeholder="请输入云箱ID...">
                        <div class="validation" ng-show="isContainerIdInvalida">
                            请输入合法的云箱ID：A-Za-z0-9-
                        </div>
                    </div>


                    <span class="instLabelHis" style="margin-left: 10px">时间</span>
                    <input ng-model="vm.queryParams.start_time"
                           min-view="hours"
                           placeholder="Select date"
                           moment-picker
                           format="YYYY-MM-DD">
                    -
                    <input ng-model="vm.queryParams.end_time"
                           min-view="hours"
                           placeholder="Select date"
                           moment-picker
                           format="YYYY-MM-DD">
                    <span class="instBtnHis"  ng-click="vm.getHistorylocationInfo()" >搜索位置</span>
                </div>
            </div>
            <div id="histotylocation" class="mapview"></div>
        </div>
    </div>
</div>

