<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="HistorylocationController as vm"
    ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div class="" style="position: relative">
            <div class="floating-panel-his">
                <span class="instTitleHis">历史轨迹</span>
                <div class="instRightHis">
                    <span class="instLabelHis">ID</span>
                    <input type="text" placeholder="请输入云箱ID" ng-model="vm.queryParams.containerId" >
                    <span class="instLabelHis" style="margin-left: 10px">时间</span>
                    <input ng-model="vm.queryParams.startTime"
                           min-view="hours"
                           placeholder="Select date"
                           moment-picker
                           format="YYYY-MM-DD">
                    -
                    <input ng-model="vm.queryParams.endTime"
                           min-view="hours"
                           placeholder="Select date"
                           moment-picker
                           format="YYYY-MM-DD">
                    <span class="instBtnHis"  ng-click="vm.getInstantlocationInfo()" >搜索位置</span>
                </div>
            </div>
            <div id="histotylocation" class="mapview"></div>
        </div>
    </div>
</div>

