<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="InstantlocationController as vm"
    ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div class="il-main" style="">
            <div class="floating-panel">
                <span class="instTitle common_panel_label">实时位置</span>
                <div class="instRight">
                    <span class="instLabel">ID</span>
                    <div style="display:inline-block;">
                        <select style="margin-right:0;display:none;"
                                class="form-control rt-search {{containerId_class}}"
                                id="deviceId">
                            <option></option>
                        </select>
                    </div>
                    <span class="instBtn common_panel_btn" style="float:right;" ng-click="vm.getInstantlocationInfo()" >搜索位置</span>
                </div>
            </div>
            <div id="instantlocation" class="mapview il-main-map"></div>
        </div>
    </div>
</div>

