<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="InstantlocationController as vm"
    ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div class="" style="position: relative">
            <div class="floating-panel">
                <span class="instTitle">实时位置</span>
                <div class="instRight">
                    <span class="instLabel">ID</span>
                    <div style="display:inline-block;">
                        <input ng-model="vm.queryParams.containerId"
                               type="text"
                               style="margin-right:0;"
                               class="form-control rt-search {{containerId_class}}"
                               ng-change="validationCheck()"
                               maxlength="22"
                               placeholder="请输入云箱ID...">
                        <div class="validation" ng-show="isContainerIdInvalida">
                            请输入合法的云箱ID
                        </div>
                    </div>
                    <span class="instBtn" style="float:right;" ng-click="vm.getInstantlocationInfo()" >搜索位置</span>
                </div>
            </div>
            <div id="instantlocation" class="mapview"></div>
        </div>
    </div>
</div>

