<style>
    .no-padding {
        padding: 0 !important;
    }
</style>
<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="MonitorController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <!--<div class="bg-light lter b-b wrapper-xs">-->
        <!--<div class="row">-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<h1 class="font-thin h3 text-black m-l m-t-sm">{{vm.title}}</h1>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div id="content" style="height: 100vh;">
            <div class="wrapper-md">
                <div class="row">
                    <div class="col-md-11">
                        <div class="col-md-4">
                            <div class="text-baowen">
                                <span>实时报文</span>
                            </div>
                            <div class="panel b-a panel-radius baowen">
                                <div class="input">
                                    <div class="input-group">
                                        <input ng-model="vm.realtimeParams.containerId" type="text" class="form-control input-sm btn-rounded"
                                               placeholder="请输入云箱ID">
                                        <span class="input-group-btn">
              <button type="submit" class="btn btn-default btn-sm btn-rounded" ui-sref="app.realtime({ containerId: vm.realtimeParams.containerId })"><i class="fa fa-search"></i></button>
            </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="text-location">
                                <span>实时位置</span>
                            </div>
                            <div class="panel b-a panel-radius location">
                                <div class="input">
                                    <div class="input-group">
                                        <input ng-model="vm.instantlocationParams.containerId" type="text" class="form-control input-sm btn-rounded"
                                               placeholder="请输入云箱ID">
                                        <span class="input-group-btn">
              <button type="submit" class="btn btn-default btn-sm btn-rounded" ui-sref="app.instantlocation({ containerId: vm.instantlocationParams.containerId })"><i class="fa fa-search"></i></button>
            </span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="text-track">
                                <span>历史轨迹</span>
                            </div>
                            <div class="panel b-a panel-radius track">
                                <div class="input">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label text-right no-padding top5">ID</label>
                                            <div class="col-md-10">
                                                <input ng-model="vm.instantlocationParams.containerId" type="text" class="form-control" placeholder="请输入">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label text-right no-padding top5">时间</label>
                                            <div class="col-md-10">
                                                <div class="col-md-6 track-line no-padding">
                                                    <input date-time ng-model="vm.instantlocationParams.startTime" class="form-control m-b" min-view="hours" format="YYYY-MM-DD HH:mm">
                                                </div>

                                                <div class="col-md-offset-1 col-md-5 no-padding">
                                                    <input date-time ng-model="vm.instantlocationParams.endTime" class="form-control m-b" min-view="hours" format="YYYY-MM-DD HH:mm">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-md btn-block track" ui-sref="app.historylocation({ containerId: vm.instantlocationParams.containerId, startTime: vm.instantlocationParams.startTime, endTime: vm.instantlocationParams.endTime })">查 询</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-11">
                        <div class="col-md-4">
                            <div class="text-box-alert">
                                <span>报警监控</span>
                            </div>
                            <div class="panel b-a panel-radius box-alert">
                                <div class="input">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label text-right no-padding top5">ID</label>
                                            <div class="col-md-10">
                                                <input ng-model="vm.alertParams.containerId" type="text" class="form-control" placeholder="请输入">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-5 control-label">最高告警级别</label>
                                            <div class="col-md-7">
                                                <select ng-model="vm.alertParams.alertLevel" name="account" class="form-control m-b">
                                                    <option ng-repeat="item in vm.options.alertLevel track by $index" >{{item}}</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-5 control-label">故障类型</label>
                                            <div class="col-md-7">
                                                <select ng-model="vm.alertParams.alertType" name="account" class="form-control m-b">
                                                    <option ng-repeat="item in vm.options.alertType track by $index" >{{item}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-5 control-label">故障代码</label>
                                            <div class="col-md-7">
                                                <select ng-model="vm.alertParams.alertCode" name="account" class="form-control m-b">
                                                    <option ng-repeat="item in vm.options.alertCode track by $index" >{{item}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-md btn-block box-alert" ui-sref="app.alert({containerId: vm.alertParams.containerId, alertLevel: vm.alertParams.alertLevel, alertType: vm.alertParams.alertType, alertCode: vm.alertParams.alertCode})">查 询
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="text-box-info">
                                <span>基础信息查询</span>
                            </div>
                            <div class="panel b-a panel-radius box-info">
                                <div class="input">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label text-right no-padding top5">ID</label>
                                            <div class="col-md-10">
                                                <input ng-model="vm.basicinfoParams.containerId" type="text" class="form-control" placeholder="请输入">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-5 control-label">云箱型号</label>
                                            <div class="col-md-7">
                                                <select ng-model="vm.basicinfoParams.containerType" name="account" class="form-control m-b">
                                                    <option ng-repeat="item in vm.options.containerType track by $index" >{{item}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-5 control-label">生产厂家</label>
                                            <div class="col-md-7">
                                                <select ng-model="vm.basicinfoParams.factory" name="account" class="form-control m-b">
                                                    <option ng-repeat="item in vm.options.factory track by $index" >{{item}}</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button type="submit" 
                                                    class="btn btn-md btn-block box-info" 
                                                    ui-sref="app.basicinfo({
                                                        containerId: vm.basicinfoParams.containerId, 
                                                        containerType: vm.basicinfoParams.containerType, 
                                                        factory: vm.basicinfoParams.factory})">
                                                    查 询
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="text-box-history">
                                <span>历史报文</span>
                            </div>
                            <div class="panel b-a panel-radius box-history">
                                <div class="input">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label text-right no-padding top5">ID</label>
                                            <div class="col-md-10">
                                                <input ng-model="vm.historyParams.containerId" type="text" class="form-control" placeholder="请输入">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-5 control-label">云箱型号</label>
                                            <div class="col-md-7">
                                                <select ng-model="vm.historyParams.containerType" name="account" class="form-control m-b">
                                                    <option ng-repeat="item in vm.options.containerType track by $index" >{{item}}</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label text-right no-padding top5">时间</label>
                                            <div class="col-md-10">
                                                <div class="col-md-6 track-line no-padding">
                                                    <input date-time ng-model="vm.history.startTime" class="form-control m-b" min-view="hours" format="YYYY-MM-DD HH:mm">
                                                </div>

                                                <div class="col-md-offset-1 col-md-5 no-padding">
                                                    <input date-time ng-model="vm.history.endTime" class="form-control m-b" min-view="hours" format="YYYY-MM-DD HH:mm">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button type="submit" 
                                                    class="btn btn-md btn-block box-history" 
                                                    ui-sref="app.history({
                                                        containerId: vm.history.containerId, 
                                                        containerType: vm.history.containerType,
                                                        startTime: vm.history.startTime, 
                                                        endTime: vm.history.endTime})">
                                                    查 询
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-11">
                        <div class="col-md-4">
                            <div class="text-box-status">
                                <span>云箱状态汇总</span>
                            </div>
                            <div class="panel b-a panel-radius box-status">
                                <div class="input">
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label text-right no-padding top5">ID</label>
                                            <div class="col-md-10">
                                                <input ng-model="vm.boxstatusParams.containerId" type="text" class="form-control" placeholder="请输入">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-5 control-label">故障级别</label>
                                            <div class="col-md-7">
                                                <select ng-model="vm.boxstatusParams.alertLevel" name="account" class="form-control m-b">
                                                    <option ng-repeat="item in vm.options.alertLevel track by $index" >{{item}}</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-5 control-label">故障类型</label>
                                            <div class="col-md-7">
                                                <select ng-model="vm.boxstatusParams.alertType" name="account" class="form-control m-b">
                                                    <option ng-repeat="item in vm.options.alertType track by $index" >{{item}}</option>
                                                </select>

                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button type="submit" 
                                                    class="btn btn-md btn-block box-status" 
                                                    ui-sref="app.boxstatus({
                                                        containerId: vm.boxstatusParams.containerId, 
                                                        alertLevel: vm.boxstatusParams.alertLevel,
                                                        alertType: vm.boxstatusParams.alertType})">
                                                查 询
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>