<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="RealtimeController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div id="content">
            <div class="wrapper-md">
                <div class="rt-head">
                    <div class="rt-head-left">
                        <h3 class="common_panel_label">实时状态</h3>
                    </div>
                    <div class="rt-head-right">
                        <span class="rt-id rt-head-label">ID</span>
                        <div style="display:inline-block;">

                            <select style="margin-right:0;display:none;"
                                    class="form-control rt-search {{containerId_class}}"
                                    ng-value=""
                                    id="deviceId">
                                <option></option>
                            </select>
                        </div>

                        <button type="submit" class="rt-btn common_panel_btn" ng-click="vm.getRealtimeInfo()">搜索报文</button>
                    </div>
                </div>

                <div class="rt-line2 clearfix">
                    <div class="rt-brief clearfix">
                        <div class="rt-header">
                            <h3>云箱</h3>
                        </div>
                        <div class="rt-brief-body">

                            <div class="rt-brief-content">
                                <p>
                                    <span>云箱ID</span>
                                    <span style="color:#666666">{{vm.realtimeInfo.containerId}}</span>
                                </p>
                                <p>
                                    <span>云箱型号</span>
                                    <span style="color:#666666">{{vm.realtimeInfo.containerType}}</span>
                                </p>
                                <p ng-show="vm.realtimeInfo.currentStatus == '可用'">
                                    <span>所在仓库</span>
                                    <span style="display:inline" title="{{vm.realtimeInfo.siteName}}">{{vm.realtimeInfo.siteName}}</span>
                                </p>
                                <p ng-show="vm.realtimeInfo.currentStatus != '可用'">
                                    <span>当前所在地</span>
                                    <span style="display:inline" title="{{vm.realtimeInfo.locationName4Hover}}">{{vm.realtimeInfo.locationName}}</span>
                                </p>
                            </div>
                            <div class="rt-img">

                                <div id="instantlocation" class="mapview il-main-map"></div>
                               
                            </div>
                        </div>
                    </div>

                </div>

                <div class="rt-line3 clearfix">
                    <div class="rt-temp">
                        <div class="rt-temp-header">
                            <h3>温度</h3>
                        </div>
                        <div class="rt-temp-content">
                            <div class="rt-temp-chart" id="temp-chart">

                            </div>
                            <div class="rt-temp-status" ng-class="{true:'rt-status-normal',false:'rt-status-abnormal'}[vm.realtimeInfo.temperature.status == '正常']">
                                <span>{{vm.realtimeInfo.temperature.status}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="rt-humi">
                        <div class="rt-humi-header">
                            <h3>湿度</h3>
                        </div>
                        <div class="rt-humi-content">
                            <div class="rt-humi-chart" id="humi-chart">

                            </div>
                            <div class="rt-humi-status"  ng-class="{true:'rt-status-normal',false:'rt-status-abnormal'}[vm.realtimeInfo.humidity.status == '正常']">
                                <span>{{vm.realtimeInfo.humidity.status}}</span>
                            </div>
                        </div>

                    </div>
                    <div class="rt-speed">
                        <div class="rt-header">
                            <h3>当前速度</h3>
                        </div>
                        <div class="rt-speed-content">
                            <div class="rt-speed-chart" id="speed-chart"></div>
                            <div class="rt-speed-status">
                                <span>{{vm.speedStatus}}</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row bd-line4 clearfix">
                    <div class="bd-line4-title">
                        <span>云箱历史记录</span>
                        <div class="bd-timeRange">
                            <span ng-class="{false:'',true:'bd-timeRange_selected'}[vm.days == 1]" ng-click="changeTimeRange(1)">一天</span>
                            <span ng-class="{false:'',true:'bd-timeRange_selected'}[vm.days == 3]" ng-click="changeTimeRange(3)">三天</span>
                            <span ng-class="{false:'',true:'bd-timeRange_selected'}[vm.days == 7]" ng-click="changeTimeRange(7)">一周</span>
                        </div>
                    </div>
                    <div class="bd-tab">
                        <uib-tabset active="activeJustified" justified="true">
                            <uib-tab index="1" heading="温&nbsp;度" select="changeRequiredParam('temperature')">
                                <div class="bd-chart" style="height:500px;padding-bottom:20px;" id="bd-temp-chart">

                                </div>
                            </uib-tab>
                            <uib-tab index="2" heading="湿&nbsp;度" select="changeRequiredParam('humidity')">
                                <div class="bd-chart" id="bd-humi-chart">

                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
