<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="RealtimeController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div id="content">
            <div class="wrapper-md">
                <div class="rt-head">
                    <div class="rt-head-left">
                        <h3>实时状态</h3>
                    </div>
                    <div class="rt-head-right">
                        <span class="rt-id">ID</span>
                        <input ng-model="vm.containerId" type="text" class="form-control rt-search"
                               placeholder="请输入云箱ID...">
                        <button type="submit" class="rt-btn" ng-click="vm.getRealtimeInfo()">搜索报文</button>
                    </div>
                </div>

                <div class="rt-line2 clearfix">
                    <div class="rt-brief clearfix">
                        <div class="rt-header">
                            <h3>云箱</h3>
                        </div>
                        <div class="rt-brief-body">
                            <div class="rt-img">
                                <img src="images/realtime-box.png" class="">
                                <div class="rt-status">
                                    <span>{{vm.realtimeInfo.currentStatus}}</span>
                                </div>
                            </div>

                            <div class="rt-brief-content">
                                <p>
                                    <span>云箱ID</span>
                                    <span style="color:#666666">{{vm.realtimeInfo.containerId}}</span>
                                </p>
                                <p>
                                    <span>云箱型号</span>
                                    <span style="color:#666666">{{vm.realtimeInfo.containerType}}</span>
                                </p>
                                <p >
                                    <span>当前所在地</span>
                                    <span style="display:inline" title="{{vm.realtimeInfo.locationName4Hover}}">{{vm.realtimeInfo.locationName}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="rt-speed">
                        <div class="rt-header">
                            <h3>当前速度</h3>
                        </div>
                        <div class="rt-speed-content" id="speed-chart">

                        </div>
                        <div class="rt-speed-status">
                            <span>{{vm.speedStatus}}</span>
                        </div>
                    </div>
                </div>

                <div class="rt-line3 clearfix">
                    <div class="rt-temp">
                        <div class="rt-temp-header">
                            <h3>温度</h3>
                        </div>
                        <div class="rt-temp-content">
                            <div class="rt-temp-chart" id="temp-chart">

                            </div>
                            <div class="rt-temp-status">
                                <span>{{vm.realtimeInfo.temperature.status}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="rt-humi">
                        <div class="rt-humi-header">
                            <h3>湿度</h3>
                        </div>
                        <div class="rt-humi-content">
                            <div class="rt-humi-chart" id="humi-chart">

                            </div>
                            <div class="rt-humi-status">
                                <span>{{vm.realtimeInfo.humidity.status}}</span>
                            </div>
                        </div>

                    </div>
                    <div class="rt-batt">
                        <div class="rt-batt-header">
                            <h3>电量</h3>
                        </div>
                        <div class="rt-batt-content">
                            <div class="rt-batt-chart" id="batt-chart">

                            </div>
                            <div class="rt-batt-status">
                                <span>{{vm.realtimeInfo.battery.status}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="rt-info">
                        <div class="rt-info-header">
                            <h3>箱体情况</h3>
                        </div>
                        <div class="rt-info-content">
                            <div class="rt-info-desc">
                                <span class="rt-coll">碰撞次数</span>
                                <span class="rt-open">开门次数</span>
                            </div>
                            <div class="rt-info-sum">
                                <span class="rt-coll-sum">{{vm.realtimeInfo.boxStatus.num_of_collide.value}}</span>
                                <i class="rt-sep"></i>
                                <span class="rt-open-sum">{{vm.realtimeInfo.boxStatus.num_of_door_open.value}}</span>
                            </div>
                            <div class="rt-info-img" style="padding-top:10px;">
                                <img style="width:100%;height:100%;" src="../../../assets/images/img_other_01.svg" alt="">
                            </div>
                            <div class="rt-info-status">
                                <span class="rt-coll-status">{{vm.realtimeInfo.boxStatus.num_of_collide.status}}</span>
                                <span class="rt-open-status">{{vm.realtimeInfo.boxStatus.num_of_door_open.status}}</span>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row bd-line4 clearfix">
                    <div class="bd-line4-title">
                        <span>云箱历史记录</span>
                        <div class="bd-timeRange">
                            <span ng-class="{false:'',true:'bd-timeRange_selected'}[vm.days == 1]" ng-click="changeTimeRange(1)">一天</span>
                            <span ng-class="{false:'',true:'bd-timeRange_selected'}[vm.days == 3]" ng-click="changeTimeRange(3)">三天</span>
                            <span ng-class="{false:'',true:'bd-timeRange_selected'}[vm.days == 7]" ng-click="changeTimeRange(7)">一周</span>
                        </div>
                    </div>
                    <div class="bd-tab">
                        <uib-tabset active="activeJustified" justified="true">
                            <uib-tab index="1" heading="温&nbsp;度" select="changeRequiredParam('temperature')">
                                <div class="bd-chart" id="bd-temp-chart">

                                </div>
                            </uib-tab>
                            <uib-tab index="2" heading="湿&nbsp;度" select="changeRequiredParam('humidity')">
                                <div class="bd-chart" id="bd-humi-chart">

                                </div>
                            </uib-tab>
                            <!-- 
                            <uib-tab index="3" heading="电&nbsp;量"  select="changeRequiredParam('battery')" >
                                <div class="bd-chart" id="bd-batt-chart">

                                </div>
                            </uib-tab>
                            <uib-tab index="4" heading="箱体情况"  select="changeRequiredParam('boxStatus')">
                                <div class="bd-chart" id="bd-status-chart">

                                </div>
                            </uib-tab>
                            -->
                        </uib-tabset>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
