<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="RobotsController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div class="row">
            <div class="row robot-img">
                <div class="zjzb" ng-show="true">
                    <div class="robot-show-zhijiao">
                            <div class="robot-title">
                                <p><span>ID</span>86920-3994392</p>
                            </div>
                            <div class="robot-content">
                                <div class="robot-img-thumb"></div>
                                <span class="robot-name">直角坐标机器人</span>

                                <div class="robot-detail">
                                    <p><span>地点</span> 中国-上海-993码头</p>
                                    <p><span>时间</span> 2017-06-02 15:39</p>
                                    <p><span>重量</span> 3800kg</p>
                                </div>
                            </div>
                    </div>
                    <div class="zjzb-right"></div>
                </div>

                <div class="wrcys" ng-show="false">
                    <div class="wrcys-left"></div>
                    <div class="robot-show-wrcys">
                        <div class="robot-title">
                            <p><span>ID</span>86920-3994392</p>
                        </div>
                        <div class="robot-content">
                            <div class="robot-img-thumb"></div>
                            <span class="robot-name">无人车运输</span>

                            <div class="robot-detail">
                                <p><span>地点</span> 中国-上海-993码头</p>
                                <p><span>时间</span> 2017-06-02 15:39</p>
                                <p><span>重量</span> 3800kg</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="xxagvyz" ng-show="false">
                    <div class="xxagvyz-left"></div>
                    <div class="robot-show-xxagvyz">
                        <div class="robot-title">
                            <p><span>ID</span>86920-3994392</p>
                        </div>
                        <div class="robot-content">
                            <div class="robot-img-thumb"></div>
                            <span class="robot-name">小型AGV运载</span>

                            <div class="robot-detail">
                                <p><span>地点</span> 中国-上海-993码头</p>
                                <p><span>时间</span> 2017-06-02 15:39</p>
                                <p><span>重量</span> 3800kg</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row robot-line">
                <div class="container">
                    <ul>
                        <li class="actived"><p>重载AGV运载</p></li>
                        <li class="actived"><p>无人叉车运载</p></li>
                        <li><p></p></li>
                        <li><p>机械臂操作</p></li>
                        <li><p>小型AGV运载</p></li>
                        <li><p>无人车运输</p></li>
                    </ul>
                    <span class="arrow"><span>直角坐标机器人操作</span></span>
                </div>
            </div>
        </div>
    </div>
</div>