<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="SiteOverviewController as vm"
    ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div class="" style="position: relative">
            <div class="floating-panel-overview">
              <div class="title">
                仓库总数
              </div>
              <div class="count">
                {{site_num}}
              </div>
            </div>
            <div id="siteoverview" class="mapview"></div>
        </div>
    </div>
</div>
