<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="DashboardController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div class="wrapper-md">

            <div class="row ds-map">
                <div id="dashboard_map" class="embeded_mapview"></div>
            </div>
            <div class="ds-overview">
                <div class="col-md-4  ds-calc">
                    <div class="col-md-12 ds-detail">
                        <div class="ds-total">
                            <div class="ds-title">
                                <span>云箱总数</span>
                            </div>
                            <div class="ds-num">
                                <p><span>{{vm.operationOverview.container_num}}</span>个</p>
                            </div>
                            <div class="ds-progress">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 80%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 ds-detail">
                        <div class="ds-lease">
                            <div class="ds-title">
                                <span> 仓库总数</span>
                            </div>
                            <div class="ds-num">
                                <p><span>{{vm.operationOverview.site_num}}</span>个</p>
                            </div>
                            <div class="ds-progress">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 80%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 ds-detail">
                        <div class="ds-cangwei">
                            <div class="ds-title">
                                <span> 仓位总数</span>
                            </div>
                            <div class="ds-num">
                                <p><span>{{vm.operationOverview.volume}}</span>个</p>
                            </div>
                            <div class="ds-progress">
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 80%;">
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-md-8 ds-detail ds-chart">
                    <div class="col-md-12">
                        <div class="ds-pie">
                            <div class="ds-pie-title">
                                <span>云箱分布国家</span>
                            </div>
                            <div class="ds-pie-chart" id="pie-chart">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

