<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="DashboardController as vm" ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <div class="bg-light lter b-b wrapper-xs">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <h1 class="font-thin h3 text-black m-l m-t-sm">{{vm.title}}</h1>
                </div>
            </div>
        </div>

        <div class="">
            <div id="goodtrack" style="height: 720px;width: 1300px;"></div>
        </div>
    </div>
</div>

