<div  class="hbox hbox-auto-xs hbox-auto-sm pd"  ng-controller="PredictionDecisionController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <div class="col">
        <div class="col-md-8" style="padding:0;" >
            <div id="prediction-map" class="mapview"></div>
        </div>
        <div id="zj" class="col-md-4" style="position:relative;height:100%;" >

            <div ng-show="vm.gettingData" class="grid_gettingData" style="padding:150px;">
                <span class="ngGrid_loading_mask"></span>
                <img class="ngGrid_loading_img" src="images/drop.gif"/>
            </div>
            <div ng-show="!vm.gettingData">
                <div ng-show="!vm.pDData.length" style="margin-top:80px;">
                    <ng-no-data-fount conf="'noDispatch'"></ng-no-data-fount>
                </div>
                <div class="row bb-table" ng-show="vm.pDData.length" style="background-color: #fff;">
                    <table style="text-align: center;margin-bottom:0;" st-table="vm.items" st-safe-src="vm.items" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th style="width:{{row['width']}}" ng-repeat="row in vm.table">{{row.name}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.pDData track by $index" ng-click="updateMarker(item)">
                            <td style="width:{{vm.table[0]['width']}}" title="{{item.status}}">
                            <span class="table_status {{item.table_status_class}}">
                                {{item.status}}
                            </span>
                            </td>
                            <td class="table_oAddress" style="width:{{vm.table[1]['width']}}" title="{{item.oAddress}}">
                            <span>
                                {{item.oAddress}}
                            </span>
                            </td>
                            <td class="table_td_count" style="width:{{vm.table[2]['width']}}" title="{{item.count}}">
                                <span class="{{item.table_count_class}}">{{item.count}}</span>
                                <span  class="table_bottomLine {{item.table_bottomLine_class}}"></span>
                                <span class="table_bottomTriangle {{item.table_bottomTriangle_class}}"></span>
                            </td>
                            <td class="table_tAddress" style="width:{{vm.table[3]['width']}}" title="{{item.tAddress}}">
                                {{item.tAddress}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="btn-group pagination w100"
                     style="position:absolute;bottom:0px;padding:10px 40px;display:inline-block!important;"
                     ng-show="vm.pDData.length">
                    <div class="pagination_left">
                        <span class="">{{conf.currentPage + "/" + conf.totalPage}}</span>
                        <span>到</span>
                        <input class="pagination_page" ng-keyup="queryPageChange($event)" type="text" ng-model="jumpPageNum" />
                        <span>页</span>
                        <span class="pagination_go" ng-click="getData()">go</span>
                    </div>
                    <div class="pagination_right pTop6">
                        <button class="pagination_previous btn btn-default" ng-click="getData(-1)" ng-disabled="!conf.pagePreEnabled" ><</button>
                        <button class="pagination_next btn btn-default" ng-click="getData(1)" ng-disabled="!conf.pageNextEnabled" >></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
