<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="OverviewController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <!--<div class="bg-light lter b-b wrapper-xs">-->
        <!--<div class="row">-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<h1 class="font-thin h3 text-black m-l m-t-sm">{{vm.title}}</h1>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div id="content" style="height: 100vh;">
            <div class="wrapper-md">
                <div class="row">
                    <div class="col-md-11">
                        <div class="col-md-4">
                            <div class="panel b-a panel-radius" ui-sref="app.container_overview">
                                <div class="panel-heading no-border bg-primary panel-top-radius">
                                    <span class="text-lt">云箱全景概览</span>
                                </div>
                                <div class="item m-l-n-xxs panel-bottom-radius">

                                    <img src="assets/images/map1.png" class="img-full">
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel b-a panel-radius" ui-sref="app.pipelineview">
                                <div class="panel-heading no-border bg-primary panel-top-radius">
                                    <span class="text-lt">云箱流水线概览</span>
                                </div>
                                <div class="item m-l-n-xxs panel-bottom-radius">


                                    <img src="assets/images/map1.png" class="img-full">
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="panel b-a panel-radius" ui-sref="app.satellite">
                                <div class="panel-heading no-border bg-primary panel-top-radius">
                                    <span class="text-lt">云箱全景概览</span>
                                </div>
                                <div class="item m-l-n-xxs panel-bottom-radius">


                                    <img src="assets/images/map1.png" class="img-full">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>