<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="MyleaseController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <!--<div class="bg-light lter b-b wrapper-xs">-->
        <!--<div class="row">-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<h1 class="font-thin h3 text-black m-l m-t-sm">{{vm.title}}</h1>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="wrapper-md">

            <div class="row ds-map">
                <div id="mylease_map" class="embeded_mapview"></div>
                <div class="mls-info-refund" ng-show="refundShow">
                    <ul>
                        <li>
                            <span>归还时间</span>
                            <input type="text" placeholder="请输入...">
                        </li>
                        <li>
                            <span>地点</span>
                            <input type="text" placeholder="请输入...">
                        </li>
                        <li>
                            <span>云箱ID</span>
                            <input type="text" placeholder="请输入...">
                        </li>
                        <li>
                            <button class="refund-btn">搜索</button>
                        </li>
                    </ul>

                </div>
                <div class="mls-info-ava" ng-show="leaseShow">
                    <div class="mls-ava-1">
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                        <span class="mls-ava-loc">中国-海南</span>
                    </div>
                    <div class="mls-ava-2">
                        <span>海口货站点</span>
                    </div>
                    <div class="mls-ava-3">
                        <p><span>472</span>km</p>
                    </div>
                    <div class="mls-ava-4">
                        <span>我要租赁</span>
                    </div>
                    <div class="mls-ava-5">
                        <span>周边货运站</span>
                        <ul>
                            <li>越南货站点</li>
                            <li>泰国货站点</li>
                            <li>菲律宾货站点</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row mls-block">
                <div class="col-md-4">
                    <div ng-class="{true:'mls-mine',false:'mls-mine-inactive'}[mineActive]" ng-click="clickMine()">
                        <div ng-class="{true:'mls-title',false:'mls-title-mine'}[mineActive]">
                            <span>我的云箱</span>
                        </div>
                        <div ng-class="{true:'mls-num',false:'mls-num-mine'}[mineActive]">
                            <p><span>{{vm.containersInfo.mycontainers.count}}</span>个</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div ng-class="{true:'mls-lease',false:'mls-lease-inactive'}[leaseActive]" ng-click="clickLease()">
                        <div ng-class="{true:'mls-title',false:'mls-title-lease'}[leaseActive]">
                            <span>可租赁云箱</span>
                        </div>
                        <div ng-class="{true:'mls-num',false:'mls-num-lease'}[leaseActive]">
                            <p><span>{{vm.containersInfo.availablecontainers.count}}</span>个</p>
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div ng-class="{true:'mls-refund',false:'mls-refund-inactive'}[refundActive]"
                         ng-click="clickRefund()">
                        <div ng-class="{true:'mls-title',false:'mls-title-refund'}[refundActive]">
                            <span>需退还云箱</span>
                        </div>
                        <div ng-class="{true:'mls-num',false:'mls-num-refund'}[refundActive]">
                            <p><span>14</span>个</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mls-table">
                <table st-table="vm.items" st-safe-src="vm.items" class="table table-striped table-hover m-t">
                    <thead>
                    <tr>
                        <!--<th ng-repeat="title in vm.titles">-->
                        <!--{{title}}-->
                        <!--</th>-->
                        <th>云箱ID</th>
                        <th>租赁起始日</th>
                        <th>当前位置</th>
                        <th>当前租赁方</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in vm.containersInfo.mycontainers.detail track by $index">
                        <td style="vertical-align: middle;">{{item.containerId}}</td>
                        <td style="vertical-align: middle;">{{item.leaseStartTime | date:"yyyy-MM-dd"}}至{{item.leaseEndTime | date:"yyyy-MM-dd"}}</td>
                        <td style="vertical-align: middle;">{{item.locationName}}</td>
                        <td style="vertical-align: middle;">{{item.carrier}}</td>
                        <td><a class="btn-table-detail" ui-sref="app.realtime({
                            containerId: vm.containersInfo.mycontainers.detail[$index].containerId
                        })">查看详情</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div auto-pagination pageination="vm.pageination"></div>

        </div>
    </div>
</div>