<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="BoxAlertController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <!--<div class="bg-light lter b-b wrapper-xs">-->
        <!--<div class="row">-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<h1 class="font-thin h3 text-black m-l m-t-sm">{{vm.title}}</h1>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div id="content" style="height: 100vh;">
            <div class="wrapper-md">
                <div class="row" style="background-color: #fff">
                    <div class="bb-title"><span>报警处理设置</span></div>
                    <div class="bb-content">
                        <div class="row m-b">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">维修点</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" placeholder="请输入维修点名称">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">国家和地区</label>
                                    <div class="col-md-8">
                                        <select name="account" class="form-control">
                                            <option>中国-上海</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">经度</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" placeholder="请输入经度">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- line2 -->
                        <div class="row m-b">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">纬度</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" placeholder="请输入纬度">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-2 control-label form-control-static">联系方式</label>
                                    <div class="col-md-10">
                                        <input type="text" class="form-control" placeholder="请输入联系方式">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- line3 -->
                        <div class="row m-b">

                            <div class="col-md-offset-8 col-md-4">
                                <div class="pull-right bb-btn">
                                    <span>保存</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bb-table" style="background-color: #fff;margin-top: 30px">
                    <table st-table="vm.items" st-safe-src="vm.items" class="table table-striped table-hover m-t">
                        <thead>
                        <tr>
                            <!--<th ng-repeat="title in vm.titles">-->
                            <!--{{title}}-->
                            <!--</th>-->
                            <th>维修点</th>
                            <th>国家和地区</th>
                            <th>经度</th>
                            <th>纬度</th>
                            <th>联系方式</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td style="vertical-align: middle;">上海码头</td>
                            <td style="vertical-align: middle;">中国上海</td>
                            <td style="vertical-align: middle;">108.31231</td>
                            <td style="vertical-align: middle;">34.123123</td>
                            <td style="vertical-align: middle;">上海海航大厦</td>
                            <td style="vertical-align: middle;">
                                <span class="bb-edit-btn" ng-click="basicUpdate()">编辑</span>
                                <span class="bb-del-btn">删除</span>
                            </td>

                        </tr>
                        <tr>
                            <td style="vertical-align: middle;">上海码头</td>
                            <td style="vertical-align: middle;">中国上海</td>
                            <td style="vertical-align: middle;">108.31231</td>
                            <td style="vertical-align: middle;">34.123123</td>
                            <td style="vertical-align: middle;">上海海航大厦</td>
                            <td style="vertical-align: middle;">
                                <span class="bb-edit-btn" ng-click="basicUpdate()">编辑</span>
                                <span class="bb-del-btn">删除</span>
                            </td>

                        </tr>
                        <tr>
                            <td style="vertical-align: middle;">上海码头</td>
                            <td style="vertical-align: middle;">中国上海</td>
                            <td style="vertical-align: middle;">108.31231</td>
                            <td style="vertical-align: middle;">34.123123</td>
                            <td style="vertical-align: middle;">上海海航大厦</td>
                            <td style="vertical-align: middle;">
                                <span class="bb-edit-btn" ng-click="basicUpdate()">编辑</span>
                                <span class="bb-del-btn">删除</span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div auto-pagination pageination="vm.pageination"></div>

            </div>
        </div>
    </div>
</div>