<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="BoxRepairController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <!--<div class="bg-light lter b-b wrapper-xs">-->
        <!--<div class="row">-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<h1 class="font-thin h3 text-black m-l m-t-sm">{{vm.title}}</h1>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <modal-dialog show='modalInput' width='659px' height='400px'>
            <div class="container-fluid">
                <div class="row">
                    <div class="bm-update-header">
                        <span class="pull-left">{{vm.options.title}}</span>
                        <span ng-class="{true: 'pull-right hide', false:'pull-right'}[vm.options.is_insert]">删除条目</span>
                    </div>
                </div>
                <div class="row bm-input m-b-md">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">维修点</label>
                            <div class="col-md-8">
                                <input ng-model="vm.newRepairConfig.name" type="text" class="form-control" placeholder="请输入">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">国家和地区</label>
                            <div class="col-md-8">
                                <select ng-model="vm.newRepairConfig.locationName" name="account" class="form-control">
                                    <option ng-repeat="item in vm.options.carrier track by $index" >{{item.value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bm-input m-b-md">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">经度</label>
                            <div class="col-md-8">
                                <input ng-model="vm.newRepairConfig.position.lng" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">纬度</label>
                              <div class="col-md-8">
                                <input ng-model="vm.newRepairConfig.position.lat" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bm-input m-b-md">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">联系方式</label>
                              <div class="col-md-8">
                                <input ng-model="vm.newRepairConfig.contact" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="bm-input-bottom">
                        <button class="pull-right bm-save"  ng-click="vm.saveRepairInfoConfig()">保存</button>
                        <button class="pull-right bm-cancel" ng-click="vm.cancelRepairInfoConfig()" >取消</button>
                    </div>
                </div>
            </div>
        </modal-dialog>
        <div id="content" style="height: 100vh;">
            <div class="wrapper-md">
                <div class="row" style="background-color: #fff">
                    <div class="bb-title"><span>报警处理设置</span></div>
                    <div class="bb-content">
                        <div class="row m-b">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">维修点</label>
                                    <div class="col-md-8">
                                        <input ng-model="vm.newRepairConfig.name" type="text" class="form-control" placeholder="请输入维修点名称">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">国家和地区</label>
                                    <div class="col-md-8">
                                        <select  ng-model="vm.newRepairConfig.locationName" name="account" class="form-control">
                                            <option>中国-上海</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">经度</label>
                                    <div class="col-md-8">
                                        <input  ng-model="vm.newRepairConfig.position.lng"type="text" class="form-control" placeholder="请输入经度">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- line2 -->
                        <div class="row m-b">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">纬度</label>
                                    <div class="col-md-8">
                                        <input  ng-model="vm.newRepairConfig.position.lat"type="text" class="form-control" placeholder="请输入纬度">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-2 control-label form-control-static">联系方式</label>
                                    <div class="col-md-10">
                                        <input  ng-model="vm.newRepairConfig.contact" type="text" class="form-control" placeholder="请输入联系方式">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- line3 -->
                        <div class="row m-b">

                            <div class="col-md-offset-8 col-md-4">
                                <div class="pull-right bb-btn">
                                    <span ng-click="vm.saveRepairInfoConfig()">保存</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bb-table" style="background-color: #fff;margin-top: 30px">
                    <table st-table="vm.items" st-safe-src="vm.items" class="table table-striped table-hover m-t">
                        <thead>
                        <tr>
                            <!--<th ng-repeat="title in vm.titles">-->
                            <!--{{title}}-->
                            <!--</th>-->
                            <th>维修点</th>
                            <th>国家和地区</th>
                            <th>经度</th>
                            <th>纬度</th>
                            <th>联系方式</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.repairInfoManage track by $index">
                            <td style="vertical-align: middle;">{{item.name}}</td>
                            <td style="vertical-align: middle;">{{item.locationName}}</td>
                            <td style="vertical-align: middle;">{{item.position.lng}}</td>
                            <td style="vertical-align: middle;">{{item.position.lat}}</td>
                            <td style="vertical-align: middle;">{{item.contact}}</td>
                            <td style="vertical-align: middle;">
                                <span class="bb-edit-btn" ng-click="vm.repairUpdate(vm.repairInfoManage[$index].id)">编辑</span>
                                <span class="bb-del-btn">删除</span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div auto-pagination pageination="vm.pageination"></div>

            </div>
        </div>
    </div>
</div>