<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="BoxBasicController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <!--<div class="bg-light lter b-b wrapper-xs">-->
        <!--<div class="row">-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<h1 class="font-thin h3 text-black m-l m-t-sm">{{vm.title}}</h1>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <modal-dialog show='bbUpdate' width='659px' height='400px'>
            <div class="container-fluid">
                <div class="row">
                    <div class="bm-update-header">
                        <span class="pull-left">{{vm.options.title}}</span>
                        <span ng-class="{true: 'pull-right hide', false:'pull-right'}[vm.options.is_insert]">删除条目</span>
                    </div>
                </div>
                <div class="row bm-input m-b-md">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">云箱ID</label>
                            <div class="col-md-8">
                                <input ng-model="vm.newBasicInfoConfig.containerId" type="text" class="form-control" placeholder="请输入">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">承运人</label>
                            <div class="col-md-8">
                                <select ng-model="vm.newBasicInfoConfig.carrier" name="account" class="form-control">
                                    <option ng-repeat="item in vm.options.carrier track by $index" >{{item.value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bm-input m-b-md">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">生产日期</label>
                            <div class="col-md-8">
                                <!--<input ng-model="vm.newBasicInfoConfig.manufactureTime"
                                        class="form-control m-b"
                                        moment-picker
                                        format="YYYY-MM-DD">-->
                                <input date-time ng-model="vm.newBasicInfoConfig.manufactureTime" class="form-control m-b" min-view="hours" format="YYYY-MM-DD HH:mm">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">生产厂家</label>
                            <div class="col-md-8">
                                <select  ng-model="vm.newBasicInfoConfig.factory" name="account" class="form-control">
                                    <option ng-repeat="item in vm.options.factory track by $index" >{{item.value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bm-input m-b-md">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">生产地点</label>
                            <div class="col-md-8">
                                <select ng-model="vm.newBasicInfoConfig.factoryLocation" name="account" class="form-control">
                                    <option ng-repeat="item in vm.options.factoryLocation track by $index" >{{item.value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">电源信息</label>
                            <div class="col-md-8">
                                <select  ng-model="vm.newBasicInfoConfig.batteryInfo" name="account" class="form-control">
                                    <option ng-repeat="item in vm.options.batteryInfo track by $index" >{{item.value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bm-input m-b-md">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-6 control-label form-control-static">智能硬件信息</label>
                            <div class="col-md-6">
                                <select ng-model="vm.newBasicInfoConfig.hardwareInfo" name="account" class="form-control">
                                    <option ng-repeat="item in vm.options.hardwareInfo track by $index" >{{item.value}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="bm-input-bottom">
                        <button class="pull-right bm-save"  ng-click="vm.saveBasicInfoConfig()">保存</button>
                        <button class="pull-right bm-cancel" ng-click="vm.cancelBasicInfoConfig()" >取消</button>
                    </div>
                </div>
            </div>
        </modal-dialog>

        <div id="content" style="height: 100vh;">
            <div class="wrapper-md">
                <div class="row" style="background-color: #fff">
                    <div class="bb-title"><span>录入云箱基础信息</span></div>
                    <div class="bb-content">
                        <div class="row m-b">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">ID</label>
                                    <div class="col-md-8">
                                        <input ng-model="vm.newBasicInfoConfig.containerId" type="text" class="form-control" placeholder="请输入云箱ID">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">云箱型号</label>
                                    <div class="col-md-8">
                                        <select ng-model="vm.newBasicInfoConfig.containerType" name="account" class="form-control">
                                            <option ng-repeat="item in vm.options.containerType track by $index">{{item.value}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">出厂日期</label>
                                    <div class="col-md-8">
                                                                    <!--<input ng-model="vm.newBasicInfoConfig.manufactureTime" 
                                    class="form-control m-b" 
                                    moment-picker
                                    format="YYYY-MM-DD">-->
                                        <input date-time ng-model="vm.newBasicInfoConfig.manufactureTime" class="form-control m-b" min-view="hours" format="YYYY-MM-DD HH:mm">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- line2 -->
                        <div class="row m-b">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">生产厂家</label>
                                    <div class="col-md-8">
                                        <select  ng-model="vm.newBasicInfoConfig.factory" name="account" class="form-control">
                                            <option ng-repeat="item in vm.options.factory track by $index" >{{item.value}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">生产场地</label>
                                    <div class="col-md-8">
                                        <select ng-model="vm.newBasicInfoConfig.factoryLocation" name="account" class="form-control">
                                            <option ng-repeat="item in vm.options.factoryLocation track by $index" >{{item.value}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">电源信息</label>
                                    <div class="col-md-8">
                                        <select  ng-model="vm.newBasicInfoConfig.batteryInfo" name="account" class="form-control">
                                            <option ng-repeat="item in vm.options.batteryInfo track by $index" >{{item.value}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- line3 -->
                        <div class="row m-b">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">智能硬件信息</label>
                                    <div class="col-md-8">
                                        <select ng-model="vm.newBasicInfoConfig.hardwareInfo" name="account" class="form-control">
                                            <option ng-repeat="item in vm.options.hardwareInfo track by $index" >{{item.value}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-4 col-md-4">
                                <div class="pull-right bb-btn">
                                    <div class="bm-input-bottom">
                                        <button class="pull-right bm-save"  ng-click="vm.saveBasicInfoConfig()">保存</button>
                                        <button class="pull-right bm-cancel" ng-click="vm.cancelBasicInfoConfig()" >取消</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bb-table" style="background-color: #fff;margin-top: 30px">
                    <table st-table="vm.items" st-safe-src="vm.items" class="table table-striped table-hover m-t">
                        <thead>
                        <tr>
                            <!--<th ng-repeat="title in vm.titles">-->
                            <!--{{title}}-->
                            <!--</th>-->
                            <th>云箱ID</th>
                            <th>云箱型号</th>
                            <th>生产地</th>
                            <th>生产厂家</th>
                            <th>生产日期</th>
                            <th>电源信息</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.basicInfoManage track by $index">
                            <td style="vertical-align: middle;">{{item.containerId}}</td>
                            <td style="vertical-align: middle;">{{item.containerType}}</td>
                            <td style="vertical-align: middle;">{{item.factoryLocation}}</td>
                            <td style="vertical-align: middle;">{{item.factory}}</td>
                            <td style="vertical-align: middle;">{{item.factoryDate | date:"yyyy-MM-dd"}}</td>
                            <td style="vertical-align: middle;">{{item.batteryInfo}}</td>
                            <td style="vertical-align: middle;">
                                <span class="bb-edit-btn" ng-click="basicUpdate()">编辑</span>
                                <span class="bb-del-btn">删除</span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div auto-pagination pageination="vm.pageination"></div>

            </div>
        </div>
    </div>

</div>

