<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="BoxBasicController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">

        <modal-dialog show='bbUpdate' width='659px' height='400px'>
            <div class="container-fluid">
                <div class="row">
                    <div class="bm-update-header">
                        <span class="pull-left">{{vm.options.title}}</span>
                    </div>
                </div>
                <div class="row bm-input m-b-md">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">RFID</label>

                            <div class="col-md-8" style="display:inline-block">

                                <input ng-model="vm.editBasicInfoConfig.tid"
                                       type="text" class="form-control {{editRfid}}"
                                       ng-change="editValidationCheck()"
                                       maxlength="30"
                                       placeholder="请输入RFID...">

                                <div class="validation" ng-show="editValidation.RFIDInvalid">
                                    请输入合法的RFID
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">云箱型号</label>

                            <div class="col-md-8">
                                <select ng-model="vm.editBasicInfoConfig.box_type_id"
                                        ng-class="{true:'areaRequire',false:''}[editValidation.box_type_id]"
                                        ng-change="editValidationCheck()"
                                        disabled
                                        name="account" class="form-control">
                                    <option value="">-- 请选择 --</option>
                                    <option ng-repeat="item in vm.options.containerType track by $index"
                                            ng-value="item.id">{{item.value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bm-input m-b-md">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">生产厂家</label>

                            <div class="col-md-8">
                                <select ng-model="vm.editBasicInfoConfig.manufacturer_id" name="account"
                                        ng-class="{true:'areaRequire',false:''}[editValidation.manufacturer_id]"
                                        ng-change="editValidationCheck()"
                                        class="form-control">
                                    <option value="">-- 请选择 --</option>
                                    <option ng-repeat="item in vm.options.factory track by $index" ng-value="item.id">
                                        {{item.value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">生产地</label>

                            <div class="col-md-8">
                                <select ng-model="vm.editBasicInfoConfig.produce_area_id"
                                        ng-class="{true:'areaRequire',false:''}[editValidation.produce_area_id]"
                                        ng-change="editValidationCheck()"
                                        name="account" class="form-control">
                                    <option value="">-- 请选择 --</option>
                                    <option ng-repeat="item in vm.options.factoryLocation track by $index"
                                            ng-value="item.id">{{item.value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row bm-input m-b-md">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label form-control-static">电源信息</label>

                            <div class="col-md-8">
                                <select ng-model="vm.editBasicInfoConfig.battery_id" name="account"
                                        ng-class="{true:'areaRequire',false:''}[editValidation.battery_id]"
                                        ng-change="editValidationCheck()"
                                        class="form-control">
                                    <option value="">-- 请选择 --</option>
                                    <option ng-repeat="item in vm.options.batteryInfo track by $index"
                                            ng-value="item.id">{{item.value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-md-6 control-label form-control-static">智能硬件信息</label>

                            <div class="col-md-6">
                                <select ng-model="vm.editBasicInfoConfig.hardware_id"
                                        ng-class="{true:'areaRequire',false:''}[editValidation.hardware_id]"
                                        ng-change="editValidationCheck()"
                                        name="account" class="form-control">
                                    <option value="">-- 请选择 --</option>
                                    <option ng-repeat="item in vm.options.hardwareInfo track by $index"
                                            ng-value="item.id">{{item.value}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="bm-input-bottom">
                        <button class="pull-right bm-save" ng-click="vm.saveBasicInfoConfig()">保存</button>
                        <button class="pull-right bm-cancel" ng-click="vm.cancelBasicInfoConfig()">取消</button>
                    </div>
                </div>
            </div>
        </modal-dialog>

        <div id="content" style="height: 100vh;">
            <div class="row wrapper-md">
                <div class="row" style="background-color: #fff">
                    <div class="bb-title" style="margin-top:25px;">
                        <span class="common_panel_label">录入云箱基础信息</span>
                        <span class="bb-add" ng-show="!showAdd" ng-click="switchShowAdd()">添 加</span>
                    </div>
                    <div class="bb-content" ng-show="showAdd">
                        <div class="row m-b">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">RFID</label>

                                    <div class="col-md-8" style="display:inline-block;">

                                        <input ng-model="vm.newBasicInfoConfig.RFID"
                                               type="text"
                                               style="margin-right:0;"
                                               class="form-control rt-search {{rfid}}"
                                               ng-change="validationCheck()"
                                               maxlength="30"
                                               placeholder="请输入RFID...">

                                        <div class="validation" ng-show="saveValidation.RFIDInvalid">
                                            请输入合法的RFID
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">云箱型号</label>

                                    <div class="col-md-8">
                                        <select ng-model="vm.newBasicInfoConfig.containerType"
                                                name="account"
                                                ng-change="validationCheck()"
                                                ng-class="{true:'areaRequire',false:''}[saveValidation.containerType]"
                                                class="form-control">
                                            <option value="">-- 请选择 --</option>
                                            <option ng-repeat="item in vm.options.containerType track by $index"
                                                    ng-value="item.id">{{item.value}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">出厂日期</label>

                                    <div class="col-md-8">
                                        <input ng-model="vm.newBasicInfoConfig.manufactureTime"
                                               class="form-control m-b"
                                               ng-change="validationCheck()"
                                               ng-class="{true:'areaRequire',false:''}[saveValidation.manufactureTime]"
                                               moment-picker
                                               placeholder="请选择出厂日期"
                                               max-date="vm.MaxDate"
                                               format="YYYY-MM-DD">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- line2 -->
                        <div class="row m-b">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">生产厂家</label>

                                    <div class="col-md-8">
                                        <select ng-model="vm.newBasicInfoConfig.factory" name="account"
                                                ng-class="{true:'areaRequire',false:''}[saveValidation.factory]"
                                                ng-change="validationCheck()"
                                                class="form-control">
                                            <option value="">-- 请选择 --</option>
                                            <option ng-repeat="item in vm.options.factory track by $index"
                                                    ng-value="item.id">{{item.value}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">生产地</label>

                                    <div class="col-md-8">
                                        <select ng-model="vm.newBasicInfoConfig.factoryLocation" name="account"
                                                ng-change="validationCheck()"
                                                ng-class="{true:'areaRequire',false:''}[saveValidation.factoryLocation]"
                                                class="form-control">
                                            <option value="">-- 请选择 --</option>
                                            <option ng-repeat="item in vm.options.factoryLocation track by $index"
                                                    ng-value="item.id">{{item.value}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">电源信息</label>

                                    <div class="col-md-8">
                                        <select ng-model="vm.newBasicInfoConfig.batteryInfo" name="account"
                                                ng-change="validationCheck()"
                                                ng-class="{true:'areaRequire',false:''}[saveValidation.batteryInfo]"
                                                class="form-control">
                                            <option value="">-- 请选择 --</option>
                                            <option ng-repeat="item in vm.options.batteryInfo track by $index"
                                                    ng-value="item.id">{{item.value}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- line3 -->
                        <div class="row m-b">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">智能硬件信息</label>

                                    <div class="col-md-8">
                                        <select ng-model="vm.newBasicInfoConfig.hardwareInfo" name="account"
                                                ng-class="{true:'areaRequire',false:''}[saveValidation.hardwareInfo]"
                                                ng-change="validationCheck()"
                                                class="form-control">
                                            <option value="">-- 请选择 --</option>
                                            <option ng-repeat="item in vm.options.hardwareInfo track by $index"
                                                    ng-value="item.id">{{item.value}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-offset-4 col-md-4">
                                <div class="pull-right bb-btn">
                                    <div class="bm-input-bottom">
                                        <span class="pull-right bm-save common_panel_btn"
                                              ng-click="vm.saveBasicInfoConfig(true)">保  存</span>
                                        <span class="pull-right bm-cancel" style="background:#96a1b8;"
                                              ng-click="vm.cancelBasicInfoConfig(true)">取  消</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="vm.gettingData" class="row grid_gettingData mt30" style="padding:150px;">
                    <span class="ngGrid_loading_mask"></span>
                    <img class="ngGrid_loading_img" src="images/drop.gif"/>
                </div>
                <div ng-show="!vm.gettingData" class="row mt30">
                    <div ng-show="!vm.basicInfoManage.length" style="margin-top:50px;">
                        <ng-no-data-fount conf="'search'"></ng-no-data-fount>
                    </div>
                    <div ng-show="vm.basicInfoManage.length">
                        <div class="grid_tr">
                            <div class="grid_th" ng-style="row.style" ng-repeat="row in vm.table">{{row.name}}
                            </div>
                        </div>
                        <div class="grid_tr" ng-repeat="item in vm.basicInfoManage track by $index">
                            <div class="grid_td"  ng-style="vm.table[0].style" title="{{item.deviceid}}">
                                {{item.deviceid}}
                            </div>
                            <div class="grid_td"  ng-style="vm.table[1].style" title="{{item.tid}}">
                                {{item.tid}}
                            </div>
                            <div class="grid_td"  ng-style="vm.table[2].style" title="{{item.box_type_name}}">
                                {{item.box_type_name}}
                            </div>
                            <div class="grid_td"  ng-style="vm.table[3].style" title="{{item.produce_area}}">
                                {{item.produce_area}}
                            </div>
                            <div class="grid_td"  ng-style="vm.table[4].style" title="{{item.manufacturer}}">
                                {{item.manufacturer}}
                            </div>
                            <div class="grid_td"  ng-style="vm.table[5].style"
                                 title="{{item.date_of_production | date:' yyyy-MM-dd'}}">
                                {{item.date_of_production | date:"yyyy-MM-dd"}}
                            </div>
                            <div class="grid_td"  ng-style="vm.table[6].style" title="{{item.battery_detail}}">
                                {{item.battery_detail}}
                            </div>
                            <div class="grid_td"  ng-style="vm.table[7].style" class="button-group">
                                <span class="bb-edit-btn" ng-click="basicUpdate(item)">编辑</span>
                                <span class="bb-del-btn" ng-click="deleteBoxBasic(item)">删除</span>
                            </div>
                        </div>
                        <tm-pagination style="float:right;" conf="conf"></tm-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
