<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="BoxParamController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col" id="boxparam">
        <div id="content" style="height: 100vh;">
            <div class="wrapper-md" style="margin:0;">
                <div class="row m-l m-r bp-param-1" ng-repeat="box in vm.boxList track by $index">
                    <div class="bp-title-1">
                        <span class="common_panel_label">{{box.box_type_name}}安全参数设置</span>
                    </div>
                    <div class="bp-param-content1">
                        <div>
                            <div class="col-md-4 m-b-md">
                                <form class="form-inline">
                                    <div class="form-group row">
                                        <label class="col-md-5">GPS中断时间</label>

                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-10" style="padding-right:0;">
                                                    <input ng-model="box.interval_time"
                                                           style="width:100%;"
                                                           ng-keydown="validationLength(box.interval_time,2)"
                                                           ng-change="validationCheck(box,$index)"
                                                           ng-class="box.interval_time_class"
                                                           type="number" class=""
                                                           placeholder="请输入...">

                                                    <div class="validation" ng-show="box.interval_time_msg">
                                                        {{box.interval_time_msg}}
                                                    </div>
                                                </div>
                                                <label class="col-md-2">分</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 m-b-md">
                                <form class="form-inline">
                                    <div class="form-group row">
                                        <label class="col-md-4">温度区间</label>

                                        <div class="col-md-8">
                                            <div class="row">
                                                <input ng-model="box.temperature_threshold_min"
                                                       type="number"
                                                       ng-keydown="validationLength(box.temperature_threshold_min,2)"
                                                       ng-change="validationCheck(box,$index)"
                                                       ng-class="box.temperature_threshold_min___class + box.temperature_threshold_min_class"
                                                       class="col-md-4"
                                                       placeholder="请输入...">
                                                <i class="col-md-2" style="line-height: 40px;text-align:center;">-</i>
                                                <input ng-model="box.temperature_threshold_max"
                                                       type="number" class="col-md-4"
                                                       ng-keydown="validationLength(box.temperature_threshold_max,2)"
                                                       ng-change="validationCheck(box,$index)"
                                                       ng-class="box.temperature_threshold_max___class  + box.temperature_threshold_max_class"
                                                       placeholder="请输入...">
                                                <label class="col-md-1">℃</label>
                                            </div>
                                            <div class="validation" style="margin-left:-15px;" ng-show="box.temperature_threshold_msg">
                                                {{box.temperature_threshold_msg}}
                                            </div>
                                            <div class="validation" style="margin-left:-15px;" ng-show="box.temperature_threshold_max_msg||box.temperature_threshold_min_msg">
                                                {{box.temperature_threshold_min_msg||box.temperature_threshold_max_msg}}
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 m-b-md">
                                <form class="form-inline">
                                    <div class="form-group row">
                                        <label class="col-md-4">湿度区间</label>

                                        <div class="col-md-8" style="display:inline-block">
                                            <div class="row">
                                                <input ng-model="box.humidity_threshold_min"
                                                       ng-change="validationCheck(box,$index)"
                                                       ng-class="box.humidity_threshold_class  + box.humidity_threshold_min_class"
                                                       ng-keydown="validationLength(box.humidity_threshold_min,2)"
                                                       type="number" class="col-md-4" placeholder="请输入...">
                                                <i class="col-md-2" style="line-height: 40px;text-align: center;">-</i>
                                                <input ng-model="box.humidity_threshold_max"
                                                       ng-change="validationCheck(box,$index)"
                                                       ng-keydown="validationLength(box.humidity_threshold_max,2)"
                                                       ng-class="box.humidity_threshold_class + box.humidity_threshold_max_class"
                                                       type="number" class="col-md-4" placeholder="请输入...">
                                                <label class="col-md-1">%</label>
                                            </div>
                                            <div class="validation"  style="margin-left:-15px;"  ng-show="box.humidity_threshold_msg">
                                                {{box.humidity_threshold_msg}}
                                            </div>
                                            <div class="validation"  style="margin-left:-15px;"  ng-show="box.humidity_threshold_min_msg||box.humidity_threshold_max_msg">
                                                {{box.humidity_threshold_min_msg||box.humidity_threshold_max_msg}}
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div style="clear:both;">
                            <div class="col-md-4 m-b-md">
                                <form class="form-inline">
                                    <div class="form-group row">

                                        <label class="col-md-5">开关门数 <</label>

                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-10" style="padding-right:0;" style="display:inline-block;">
                                                    <input ng-model="box.operation_threshold_max"
                                                           ng-change="validationCheck(box,$index)"
                                                           ng-keydown="validationLength(box.operation_threshold_max,3)"
                                                           style="width:100%;"
                                                           ng-class="box.operation_min_little_than_0_class +  box.operation_threshold_max_class"
                                                           type="number"  placeholder="请输入...">

                                                    <div class="validation"
                                                         ng-show="box.operation_min_little_than_0_msg">
                                                        {{box.operation_min_little_than_0_msg}}
                                                    </div>
                                                </div>
                                                <label class="col-md-2">次</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 m-b-md">
                                <form class="form-inline">
                                    <div class="form-group row">

                                        <label class="col-md-5">碰撞次数 <</label>
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-10" style="padding-right:0;">
                                                    <input ng-model="box.collision_threshold_max"
                                                           style="width:100%;"
                                                           ng-keydown="validationLength(box.collision_threshold_max,3)"
                                                           type="number" class="col"
                                                           ng-change="validationCheck(box,$index)"
                                                           ng-class="box.collision_min_little_than_0_class +  box.collision_threshold_max_class"
                                                           placeholder="请输入...">

                                                    <div class="validation" ng-show="box.collision_min_little_than_0_msg">
                                                        {{box.collision_min_little_than_0_msg}}
                                                    </div>
                                                </div>
                                                <label class="col-md-2">次</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-4 m-b-md">
                                <form class="form-inline">
                                    <div class="form-group row">
                                        <label class="col-md-5">电池余量 ></label>
                                        <div class="col-md-7">
                                            <div class="row">
                                                <div class="col-md-10" style="padding-right:0;" style="">
                                                    <input ng-model="box.battery_threshold_min"
                                                           style="width:100%;"
                                                           ng-keydown="validationLength(box.battery_threshold_min,2)"
                                                           ng-change="validationCheck(box,$index)"
                                                           ng-class="box.battery_min_little_than_0_class +  box.battery_threshold_min_class"
                                                           type="number" placeholder="请输入...">

                                                    <div class="validation" ng-show="box.battery_min_little_than_0_msg">
                                                        {{box.battery_min_little_than_0_msg}}
                                                    </div>
                                                </div>
                                                <label class="col-md-2">%</label>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-offset-8 col-md-4">
                            <span class="pull-right common_panel_btn"
                                  ng-click="vm.resetSafeSetting(box,$index)">更新设置</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
