<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="BoxParamController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <!-- main header -->
        <!--<div class="bg-light lter b-b wrapper-xs">-->
        <!--<div class="row">-->
        <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
        <!--<h1 class="font-thin h3 text-black m-l m-t-sm">{{vm.title}}</h1>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

        <div id="content" style="height: 100vh;">
            <div class="wrapper-md">
                <div class="row m-l m-r bp-param-1">
                    <div class="bp-title-1"><span>标准云箱安全参数设置</span></div>
                    <div class="bp-param-content1">
                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>GPS中断时间</label>
                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                    <input type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>

                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>温度区间</label>
                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                    <input type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>湿度区间</label>
                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                    <input type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>
                        <!-- line2 -->
                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>开关门数</label>
                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                    <input type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>

                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>碰撞次数</label>
                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                    <input type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>电池余量</label>
                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                    <input type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>

                        <div class="col-md-offset-8 col-md-4">
                            <button class="pull-right">更新设置</button>
                        </div>
                    </div>

                </div>


                <!--集装箱安全参数设置 div-->
                <div class="row m-l m-r bp-param-2">
                    <div class="bp-title-2"><span>集装箱云箱安全参数设置</span></div>
                    <div class="bp-param-content2">
                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>GPS中断时间</label>
                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                    <input type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>

                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>温度区间</label>
                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                    <input type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>湿度区间</label>
                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                    <input type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>


                        <!-- line2 -->
                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>开关门数</label>
                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                    <input type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>

                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>碰撞次数</label>
                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                    <input type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>电池余量</label>
                                    <input type="text" class="form-control" placeholder="请输入..."> -
                                    <input type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>

                        <div class="col-md-offset-8 col-md-4">
                            <button class="pull-right">更新设置</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>