<div class="hbox hbox-auto-xs hbox-auto-sm" ng-controller="BoxParamController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div id="content" style="height: 100vh;">
            <div class="wrapper-md">
                <div class="row m-l m-r bp-param-1" ng-repeat="box in vm.boxList" >
                    <div class="bp-title-1"><span>{{box.box_type_name}}安全参数设置</span></div>
                    <div class="bp-param-content1">
                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>GPS中断时间</label>
                                    <select ng-model="box.interval_time" name="account" class="form-control">
                                        <option ng-value="-1">-- 请选择 --</option>
                                        <option ng-repeat="item in vm.options.intervalTime track by $index" ng-value="item.value">{{item.value}}</option>
                                    </select>
                                </div>
                            </form>
                        </div>

                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>温度区间</label>
                                    <input ng-model="box.temperature_threshold_min" type="text" class="form-control" placeholder="请输入..."> -
                                    <input ng-model="box.temperature_threshold_max" type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>湿度区间</label>
                                    <input ng-model="box.humidity_threshold_min" type="text" class="form-control" placeholder="请输入..."> -
                                    <input ng-model="box.humidity_threshold_max" type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>
                        <!-- line2 -->
                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>开关门数</label>
                                    <input ng-model="box.operation_threshold_min" type="text" class="form-control" placeholder="请输入..."> -
                                    <input ng-model="box.operation_threshold_max" type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>

                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>碰撞次数</label>
                                    <input ng-model="box.collision_threshold_min" type="text" class="form-control" placeholder="请输入..."> -
                                    <input ng-model="box.collision_threshold_max" type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4 m-b-md">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label>电池余量</label>
                                    <input ng-model="box.battery_threshold_min" type="text" class="form-control" placeholder="请输入..."> -
                                    <input ng-model="box.battery_threshold_max" type="text" class="form-control" placeholder="请输入...">
                                </div>
                            </form>
                        </div>

                        <div class="col-md-offset-8 col-md-4">
                            <span class="pull-right" ng-click="vm.resetSafeSetting(box)" >更新设置</span>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>