<div class="whStatus whInfo hbox hbox-auto-xs hbox-auto-sm"
     style="position:relative;"
     ng-controller="WarehouseInfoController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="">
        <div id="whInfo" style="height: 100vh;">
            <div class="wrapper-md">
                <div id="whSet" class="row whSet " ng-class="{true:'isShowMap',false:''}[showAdd]"
                     style="background-color: #fff">
                    <div class="bb-title wh-title">
                        <span class="common_panel_label">录入仓库基础信息</span>
                        <span class="cml siteInfoAdd_btn" ng-show="!showAdd" ng-click="switchShowAdd()">添 加</span>
                        <div class="siteInfoFilter" ng-show="!showAdd">
                            <span>地区</span>
                            <select ng-model="vm.siteInfoFilter.province.province_id"
                                    name="account"
                                    class=""
                                    ng-change="vm.getFilterCityList()"
                                    ng-options="province.province_id as province.province_name for province in vm.filterProvinceList"
                            >
                                <option value="">-- 请选择 --</option>
                            </select>
                            <select ng-model="vm.siteInfoFilter.city.city_id"
                                    name="account"
                                    ng-options="city.city_id as city.city_name for city in vm.filterCityList"
                            >
                                <option value="">-- 请选择 --</option>
                            </select>
                            <span>容量</span>
                            <select ng-model="vm.siteInfoFilter.volume.volume_id"
                                    name="account"
                                    class=""
                                    ng-options="volume.volume_id as volume.volume_name for volume in vm.filterVolumeList"
                            >
                                <option value="">-- 请选择 --</option>
                            </select>
                            <span>关键字</span>
                            <input type="text" ng-model="vm.siteInfoFilter.keyword" placeholder="请输入关键词"/>
                            <span class="siteInfoFilter_btn cp" ng-click="vm.retrieveSiteInfoByFilter()">查询</span>
                        </div>
                    </div>
                    <div class="bb-content" ng-show="showAdd" style="margin-top:15px;margin-left:0;">
                        <div class="row m-b">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">国家</label>

                                    <div class="col-md-8">
                                        <select ng-model="vm.siteInfo.nation.nation_id"
                                                name="account"
                                                ng-class="nation_class"
                                                class="form-control"
                                                ng-change="vm.getProvinceList()"
                                                ng-options="country.nation_id as country.nation_name for country in vm.countryList"
                                        >
                                            <option value="">-- 请选择 --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">省</label>

                                    <div class="col-md-8">
                                        <select ng-model="vm.siteInfo.province.province_id"
                                                name="account"
                                                ng-change="vm.getCityList()"
                                                ng-class="province_class"
                                                class="form-control"
                                                ng-options="province.province_id as province.province_name for province in vm.provinceList"
                                        >
                                            <option value="">-- 请选择 --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">市</label>

                                    <div class="col-md-8">
                                        <select ng-model="vm.siteInfo.city.city_id"
                                                name="account"
                                                ng-change="vm.setPointer()"
                                                class="form-control"
                                                ng-class="city_class"
                                                ng-options="city.city_id as city.city_name for city in vm.cityList"
                                        >
                                            <option value="">-- 请选择 --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-b">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">名称</label>

                                    <div class="col-md-8">
                                        <input ng-model="vm.siteInfo.name" type="text"
                                               ng-change="validationCheck()"
                                               maxlength="22"
                                               ng-class="name_class"
                                               class="form-control" placeholder="请输入仓库名称">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">容量</label>

                                    <div class="col-md-8">
                                        <input ng-model="vm.siteInfo.volume" type="number"
                                               ng-change="validationCheck()"
                                               ng-keydown="validationLength(vm.siteInfo.volume,4)"
                                               ng-class="volume_class + volume_invalid_class"
                                               class="form-control" placeholder="请输入容量">

                                        <div class="validation" ng-show="volume_invalid_msg">
                                            {{volume_invalid_msg}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">联系电话</label>

                                    <div class="col-md-8">
                                        <input ng-model="vm.siteInfo.telephone" type="text"
                                               ng-change="validationCheck()"
                                               ng-keydown="validationLength(vm.siteInfo.telephone,11)"
                                               ng-class="telephone_class + telephone_invalid_class"
                                               class="form-control" placeholder="请输入电话号码">

                                        <div class="validation" ng-show="telephone_invalid_msg">
                                            {{telephone_invalid_msg}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-b">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-2 control-label form-control-static">位置</label>

                                    <div class="col-md-10" style="padding-left:10px;">
                                        <input ng-model="vm.siteInfo.location" type="text"
                                               ng-class="location_class"
                                               maxlength="50"
                                               ng-change="validationCheck()"
                                               readonly="readonly"
                                               class="form-control" placeholder="请通过拖拽图标来精确定位仓库位置">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- line3 -->
                        <div class="row m-b" style="margin-top:20px;">
                            <div class="col-md-12" style="float:right;">
                                <div class="pull-right bb-btn">
                                    <div class="bm-input-bottom">
                                        <span class="pull-right bm-save common_panel_btn"
                                              ng-click="vm.save(true)">保  存</span>
                                        <span ng-show="true" class="pull-right bm-save common_panel_btn"
                                              ng-click="vm.deleteSiteInfo()">删  除</span>
                                        <span class="pull-right bm-cancel common_panel_btn_cancel"
                                              style="background:#96a1b8;" ng-click="vm.cancel(true)">取  消</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="" style="height:200px;">
                            <div id="warehouseInfo_map" class="mapview"></div>
                        </div>
                    </div>

                </div>
                <div ng-show="!vm.siteInfoList.length" style="margin-top:100px;">
                    <ng-no-data-fount  conf="'filter'"></ng-no-data-fount>
                </div>
                <div class="row bb-table whTable" ng-show="!showAdd && vm.siteInfoList.length">
                    <table st-table="vm.items" st-safe-src="vm.items" class="table table-striped table-hover m-t">
                        <thead>
                        <tr>
                            <th style="width:{{row['width']}}" ng-repeat="row in vm.table">{{row.name}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.siteInfoList track by $index">
                            <td style="width:{{vm.table[0]['width']}}">{{item.name}}</td>
                            <td style="width:{{vm.table[1]['width']}}">{{item.site_code}}</td>

                            <td style="width:{{vm.table[2]['width']}}">{{item.location}}</td>
                            <td style="width:{{vm.table[3]['width']}}">{{item.volume}}</td>
                            <td style="width:{{vm.table[4]['width']}}">{{item.telephone}}</td>
                            <td style="width:{{vm.table[5]['width']}}">

                                <span class="bb-kind-btn" ng-click="showStatus(item.id)">在库云箱</span>
                                <span class="bb-kind-btn" ng-click="showRecord(item.id)">出入记录</span>
                                <span class="bb-edit-btn" style="margin-left:10px;" ng-click="vm.edit(item,true)">编辑</span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <!--<ng-grid tableConfig="vm.tableConfig"></ng-grid>-->
                    <tm-pagination style="float:right;" conf="conf"></tm-pagination>
                </div>
            </div>

        </div>
    </div>

    <div class="infoMask1">
        <div class="whTableMask"></div>
        <div id="whTable" style="display:none">
            <div class="whTable_title">
                <div class="whTable_title_container">
                    <span class="whTable_title_name">在库云箱</span>

                    <div class="whTable_title_divider">|</div>
                    <span class="whTable_title_count"> 在库总数 {{conf.totalItems}}</span>
                </div>
                <span class="whTable_title_action" onclick="switchStatus()">X</span>
            </div>
            <div class="whTable_content" style="margin:0" ng-show="vm.whStatusData.length">
                <div class="bb-table">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>云箱ID</th>
                            <th>云箱类型</th>
                            <!--<th>所在仓库</th>-->
                            <th>智能终端</th>
                            <th>电池信息</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.whStatusData track by $index">
                            <td>
                                <span>{{item.deviceid}}</span>
                            </td>
                            <td>
                                <span>{{item.type.box_type_name}}</span>
                            </td>
                            <!--<td>-->
                            <!--<span>{{item.siteinfo.location}}</span>-->
                            <!--</td>-->
                            <td>
                                <span>{{item.hardware.hardware_detail}}</span>
                            <td>
                                <span>{{item.battery.battery_detail}}</span>
                            </td>
                            <td>
                                <a ui-sref="app.realtime({
                                                containerId: item.deviceid
                                            })" class="whTable_content_table_detail">详情</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <tm-pagination style="float:right;" conf="conf"></tm-pagination>
            </div>
            <div ng-show="!vm.recordList.length" style="margin-top:80px;">
                <ng-no-data-fount conf="'noDataFound'"></ng-no-data-fount>
            </div>
        </div>

    </div>
    <div class="infoMask2">
        <div class="whHistoryMask"></div>
        <div id="whHistory" >
            <div class="whTable_title">
                <div class="whTable_title_container">
                    <span class="whTable_title_name">云箱出入记录</span>

                    <div class="whTable_title_divider">|</div>
                    <span class="whTable_title_count"> 在库总数 {{conf.totalItems}}</span>
                </div>
                <span class="whTable_title_action" onclick="switchRecord()">X</span>

            </div>
            <div class="stream_filter">
                <span>时间</span>
                <input ng-model="queryParams.start_time"
                       min-view="days"
                       placeholder="请选择..."
                       ng-keydown="preventBackpace($event)"
                       moment-picker
                       format="YYYY-MM-DD">
                -
                <input ng-model="queryParams.end_time"
                       min-view="days"
                       placeholder="请选择..."
                       ng-keydown="preventBackpace($event)"
                       moment-picker
                       format="YYYY-MM-DD">
                <span class="stream_filter_btn" ng-click="vm.filterSiteStream()">查询</span>
            </div>
            <div class="whTable_content">
                <div class="whTable_content_container" ng-class="{true:'bn',false:''}[$index == (vm.recordList.length -1)]" ng-repeat="item in vm.recordList track by $index">
                    <div class="whTable_content_line1" ng-class="{true:'line1FC',false:''}[$index == 0]">
                    <span class="whTable_content_line1_circle"
                          ng-class="{true:'status_in',false:'status_out'}[item.type == '入库']"></span>
                        <span class="whTable_content_line1_time">{{item.timestamp}}</span>
                    </div>
                    <div class="whTable_content_line2">
                    <span class="whTable_content_line2_status"
                          ng-class="{true:'status_in',false:'status_out'}[item.type == '入库']">{{item.type}}</span>
                        <span class="whTable_content_line2_id">云箱ID:{{item.box_id}}</span>
                    </div>
                </div>
                <div ng-show="!vm.recordList.length" style="margin-top:80px;">
                    <ng-no-data-fount conf="'noFlowData'"></ng-no-data-fount>
                </div>
            </div>
        </div>
    </div>


</div>
