<div class="whInfo hbox hbox-auto-xs hbox-auto-sm" ng-controller="WarehouseInfoController as vm"
     ng-init="app.settings.asideFolded = false;app.settings.asideDock = false;">
    <!-- main -->
    <div class="col">
        <div id="whInfo" style="height: 100vh;">
            <div class="wrapper-md">
                <div id="whSet" class="row whSet " ng-class="{true:'isShowMap',false:''}[showAdd]"  style="background-color: #fff">
                    <div class="bb-title wh-title">
                        <span class="common_panel_label">录入仓库基础信息</span>
                        <span class="bb-add" ng-show="!showAdd" ng-click="switchShowAdd()">添 加</span>
                    </div>
                    <div class="bb-content" ng-show="showAdd" style="margin-top:15px;margin-left:0;">
                        <div class="row m-b">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">国家</label>
                                    <div class="col-md-8">
                                        <select ng-model="vm.siteInfo.nation.nation_id"
                                                name="account"
                                                ng-class="nation_class"
                                                class="form-control"
                                                ng-change="vm.getProvinceList()"
                                        ng-options="country.nation_id as country.nation_name for country in vm.countryList"
                                       >
                                            <option value="">-- 请选择 --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">省</label>
                                    <div class="col-md-8">
                                        <select ng-model="vm.siteInfo.province.province_id"
                                                name="account"
                                                ng-change="vm.getCityList()"
                                                ng-class="province_class"
                                                class="form-control"
                                         ng-options="province.province_id as province.province_name for province in vm.provinceList"
                                        >
                                            <option value="">-- 请选择 --</option>
                                        </select>
                                    </div>
                            </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">市</label>
                                    <div class="col-md-8">
                                        <select ng-model="vm.siteInfo.city.city_id"
                                                name="account"
                                                ng-change="vm.setPointer()"
                                                class="form-control"
                                                ng-class="city_class"
                                                ng-options="city.city_id as city.city_name for city in vm.cityList"
                                        >
                                            <option value="">-- 请选择 --</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-b">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">名称</label>
                                    <div class="col-md-8">
                                        <input ng-model="vm.siteInfo.name" type="text"
                                               ng-change="validationCheck()"
                                               maxlength="22"
                                               ng-class="name_class"
                                               class="form-control" placeholder="请输入仓库名称">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">容量</label>
                                    <div class="col-md-8">
                                        <input ng-model="vm.siteInfo.volume" type="number"
                                               ng-change="validationCheck()"
                                               ng-keydown="validationLength(vm.siteInfo.volume,4)"
                                               ng-class="volume_class + volume_invalid_class"
                                               class="form-control" placeholder="请输入容量">
                                        <div class="validation" ng-show="volume_invalid_msg">
                                            {{volume_invalid_msg}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-md-4 control-label form-control-static">联系电话</label>
                                    <div class="col-md-8">
                                        <input ng-model="vm.siteInfo.telephone" type="text"
                                               ng-change="validationCheck()"
                                               ng-keydown="validationLength(vm.siteInfo.telephone,11)"
                                               ng-class="telephone_class + telephone_invalid_class"
                                               class="form-control" placeholder="请输入电话号码">
                                        <div class="validation" ng-show="telephone_invalid_msg">
                                            {{telephone_invalid_msg}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-b">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="col-md-2 control-label form-control-static">位置</label>
                                    <div class="col-md-10" style="padding-left:10px;">
                                        <input ng-model="vm.siteInfo.location" type="text"
                                               ng-class="location_class"
                                               maxlength="50"
                                               ng-change="validationCheck()"
                                               readonly="readonly"
                                               class="form-control" placeholder="请通过拖拽图标来精确定位仓库位置">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- line3 -->
                        <div class="row m-b" style="margin-top:20px;">
                            <div class="col-md-4" style="float:right;">
                                <div class="pull-right bb-btn">
                                    <div class="bm-input-bottom">
                                        <span class="pull-right bm-save common_panel_btn"  ng-click="vm.save(true)">保  存</span>
                                        <span class="pull-right bm-cancel common_panel_btn_cancel" style="background:#96a1b8;" ng-click="vm.cancel(true)" >取  消</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="" style="height:200px;">
                            <div id="warehouseInfo_map" class="mapview"></div>
                        </div>
                    </div>

                </div>

                <div class="row bb-table whTable" ng-show="!showAdd">
                    <table st-table="vm.items" st-safe-src="vm.items" class="table table-striped table-hover m-t">
                        <thead>
                        <tr>
                            <th style="width:{{row['width']}}" ng-repeat="row in vm.table">{{row.name}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.siteInfoList track by $index">
                            <td style="width:{{vm.table[0]['width']}}" >{{item.name}}</td>
                            <td style="width:{{vm.table[1]['width']}}">{{item.site_code}}</td>
                            <td style="width:{{vm.table[2]['width']}}">{{item.nation.nation_name}}</td>
                            <td style="width:{{vm.table[3]['width']}}">{{item.province.province_name}}</td>
                            <td style="width:{{vm.table[4]['width']}}">{{item.city.city_name}}</td>
                            <td style="width:{{vm.table[5]['width']}}">{{item.location}}</td>
                            <td style="width:{{vm.table[6]['width']}}">{{item.volume}}</td>
                            <td style="width:{{vm.table[7]['width']}}">{{item.telephone}}</td>
                            <td style="width:{{vm.table[8]['width']}}">
                                <span class="bb-edit-btn" ng-click="vm.edit(item,true)">编辑</span>
                                <span class="bb-del-btn" ng-click="vm.deleteSiteInfo(item.id)">删除</span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                    <ng-grid tableConfig="vm.tableConfig"></ng-grid>
                    <tm-pagination style="float:right;" conf="conf"></tm-pagination>
                </div>
                </div>

            </div>
        </div>
    </div>
</div>

