.ngToast{
    min-width:180px;
    width:auto;
    height:50px;
    position:fixed;
    color:white;
    z-index:1001;
    pointer-events:auto;
    border-radius: 5px;
    background: #FFFFFF;
}
.ngToast_noDataFound{
    width:300px;
    height:300px;
    background: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
    border-radius: 10px;
    left:40%;
    top:100px;
}
.ngToast_noDataFound_icon{
    text-align: center;
    margin: 40px 40px 15px 40px;
}
.ngToast_noDataFound_text{
    text-align: center;
}
.ngToast_noDataFound_text1{
    font-size: 18px;
    color: #999999;
    letter-spacing: 0;
    display:inline-block;
    width:100%;
    padding:5px 10px;
    font-family: PingFangSC-Medium;
}
.ngToast_noDataFound_text2{
    font-size: 14px;
    color: #999999;
    letter-spacing: 0;
    display:inline-block;
    width:100%;
    padding:5px 10px;
    font-family: PingFangSC-Regular;
}

.ngToast-icon{
    opacity:0.7;
    line-height:48px;
    text-align: center;
    width:50px;
    height:50px;
    display:inline-block;
    float:left;
}

.ngToast-icon-success{
    border-right: 1px solid #67B930;
}

.ngToast-icon-error{
    border-right: 1px solid #DB4437;
}

.ngToast-icon-info{
    border-right: 1px solid #2196F3;
}
.ngToast_success{
    border: 1px solid #67B930;
    box-shadow: 0 4px 8px 0 rgba(103,185,48,0.20);
}
.ngToast_error{
    border: 1px solid #DB4437;
    box-shadow: 0 4px 8px 0 rgba(219,68,55,0.20);
}
.ngToast_info{
    border: 1px solid #2196F3;
    box-shadow: 0 4px 8px 0 rgba(33,150,243,0.20);
}
.ngToast_text{
    display:inline-block;
    float:left;
    color: #354052;
    line-height: 50px;
    padding:0 19px;
}
.ngToast_success_text{
    display:inline-block;
    float:left;
}
.ngToast_error_text{

}
.ngToast_info_text{

}


.ngToast-bottom-left-0{
    bottom:12px;
    left:10px;
}

.ngToast-bottom-left-1{
    bottom:72px;
    left:10px;
}

.ngToast-bottom-left-2{
    bottom:132px;
    left:10px;
}

.ngToast-bottom-left-3{
    bottom:192px;
    left:10px;
}

.ngToast-bottom-left-4{
    bottom:252px;
    left:10px;
}
.ngToast-bottom-left-5{
    bottom:312px;
    left:10px;
}


