<div ng-controller="AsideController as vm">
    <!-- navbar header -->
    <div class="navbar-header {{app.settings.navbarHeaderColor}}"
         >
        <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
            <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" data-target=".app-aside" ui-scroll-to="app">
            <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a ui-sref="app.containeroverview" class="navbar-brand text-lt">
            <!--<i class="fa fa-btc"></i>-->
            <img src="images/logo.png" alt=".">
            <span class="hidden-folded m-l-xs small">{{vm.title}}</span>
        </a>
        <!-- / brand -->
    </div>
    <!-- / navbar header -->

    <!-- navbar collapse -->
    <div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}"
         >
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
            <a href class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded;switchNav()">
                <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
            </a>
        </div>
        <!-- / buttons -->

        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right dropdown">
            <!--<li class="hidden-xs">-->
            <!--<a ui-fullscreen></a>-->
            <!--</li>-->
            <li class="dropdown">
                <a href class="dropdown-toggle" data-toggle="dropdown" id="dropdownNoti">
                    <i class="icon-bell fa-fw"></i>
                    <span class="visible-xs-inline">Notifications</span>
                    <span class="badge badge-sm up bg-danger pull-right-xs">{{vm.totalMessage}}</span>
                </a>
                <!-- dropdown -->
                <div class="dropdown-menu w-xl animated fadeIn">
                    <div class="panel bg-white">
                        <div class="panel-heading b-light bg-light" >
                            <strong>{{vm.messages.length > 0 ? '新的消息' : '尚未有任何通知信息'}}</strong>
                        </div>
                        <div class="list-group">
                            <a href class="media list-group-item msg_list">
                            <span class="media-body block m-b-none mst_list_item"
                                  ng-click="vm.jumpTo(message.url)"
                                  ng-repeat="message in vm.messages" style="height: 80px;width: 100%;">
                                    {{"当前共有"}} <strong style="color:red;">{{message.count}}</strong> {{"条" + message.name + "。" }}
                            </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- / dropdown -->
            </li>
            <li class="dropdown">
                <a href class="dropdown-toggle clear" data-toggle="dropdown" id="dropdownProfile">
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img src="images/a0.jpg" alt="...">
                <i class="on md b-white bottom"></i>
              </span>
                    <span class="hidden-sm hidden-md">{{vm.infomation.username}}</span> <b class="caret"></b>
                </a>
                <!-- dropdown -->
                <ul class="dropdown-menu animated fadeIn w">
                    <li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
                        <span>{{vm.infomation.username}}</span>
                    </li>
                    <!--<li>-->
                    <!--<a href>-->
                    <!--<span class="badge bg-danger pull-right">30%</span>-->
                    <!--<span>Settings</span>-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a ui-sref="app.docs">-->
                    <!--<span class="label bg-info pull-right">new</span>-->
                    <!--Help-->
                    <!--</a>-->
                    <!--</li>-->
                    <li class="divider"></li>
                    <li>
                        <a ng-click="vm.logoutAction()">退出</a>
                    </li>
                </ul>
                <!-- / dropdown -->
            </li>
        </ul>
        <!-- / navbar right -->

    </div>
    <!-- / navbar collapse -->
</div>
