.nav-sub {

}

.nav-sub-header {
  display: none !important;
  a {
    padding: floor((@app-aside-folded-nav-height - @line-height-computed)/2) 20px;
  }
}

.navi {
  ul.nav {
    li {
      display: block;
      position: relative;
      ul{
        display:none;
      }
      li {
        a {
          padding-left: @app-aside-nav-height + 15px;
          span {
            min-width: 30px;
            display: inline-block;
          }
        }
        a:hover, a:focus {
          background: #253B67 !important;
        }
      }
      a {
        font-weight: normal;
        text-transform: none;
        display: block;
        padding: floor((@app-aside-nav-height - @line-height-computed)/2) 20px;
        position: relative;
        .transition(background-color .2s ease-in-out 0s);
        .badge,
        .label {
          font-size: 11px;
          padding: 2px 5px;
          margin-top: 2px;
        }
        > i {
          margin: floor(-(@app-aside-nav-height - @line-height-computed)/2) -10px;
          line-height: @app-aside-nav-height;
          width: @app-aside-nav-height;
          float: left;
          margin-right: 5px;
          text-align: center;
          position: relative;
          overflow: hidden;
          &:before {
            position: relative;
            z-index: 2;
          }
        }
      }
    }

    li.active ul{
       display:block;
    }
    li.active1, li.active1:hover, li.active1.focus {
      color: #F05E5E !important;
    }
    li.active2, li.active2:hover, li.active2.focus {
      color: #49CFF2 !important;
    }
    li.active3, li.active3:hover, li.active3.focus {
      color: #7FCB81 !important;
    }
    li.active4, li.active4:hover, li.active4.focus {
      color: #A983F9 !important;
    }
    li.active5, li.active5:hover, li.active5.focus {
      color: #db71c3 !important;
    }

  }
}

@media (min-width: 768px) {
  .app-aside-folded {
    .nav-sub-header {
      display: block !important;
      a {
        padding: floor((@app-aside-folded-nav-height - @line-height-computed)/2) 20px !important;
      }
    }
    .navi {
      > ul {
        > li {
          > a {
            position: relative;
            padding: 0;
            text-align: center;
            height: @app-aside-folded-nav-height;
            border: none;
            span {
              display: none;
              &.pull-right {
                display: none !important;
              }
            }
            i {
              width: auto;
              float: none;
              display: block;
              font-size: 16px;
              margin: 0;
              line-height: @app-aside-folded-nav-height;
              border: none !important;
              b {
                left: 0 !important;
              }
            }
            .badge,
            .label {
              position: absolute;
              right: 12px;
              top: 8px;
              z-index: 3;
            }
          }
        }
        > li > ul {
          height: 0 !important;
          position: absolute;
          left: 100%;
          top: 0 !important;
          z-index: 1050;
          width: @app-aside-width;
          .box-shadow(0 2px 6px rgba(0, 0, 0, 0.1));
        }
      }
      li {
        li {
          a {
            padding-left: 20px !important;
          }
        }
      }
    }
  }

  .app-aside-folded.app-aside-fixed .app-aside {
    > ul.nav {
      &:before {
        content: "";
        width: @app-aside-folded-width;
        height: @app-aside-folded-nav-height;
        position: absolute;
        left: -@app-aside-folded-width;
        top: 0;
      }
      z-index: 1010;
      opacity: 1;
      height: auto;
      overflow: visible;
      overflow-y: auto;
      display: block;
      width: @app-aside-width + @app-aside-folded-width;
      left: @app-aside-folded-width + 20;
      position: fixed;
      -webkit-overflow-scrolling: touch;
      a {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }
  }
}