.pd{
  td{
    line-height: 2!important;
  }
  .table_status_to{
    background: #F5A623;
    border-radius: 2px;
    padding:3px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
  }
  .table_status_ing{
    background: #57D2A0;
    padding:3px;
    border-radius: 2px;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
  }
  .table_oAddress{

  }
  .table_td_count{

    padding: 0;
    /* margin: 0; */
    padding-top: 4px;
  }
  .table_count{

  }
  .table_bottomLine{
    width: 100%;
    border-bottom: 2px solid #28A673;
    height: 2px;
    display: inline-block;
    clear: both;
    padding: 0;
    float: left;
    margin-top: -3px;
  }
  .table_bottomTriangle{
    display: inline-block;
    float: right;
    width: 0;
    height: 0;
    margin-top:-6px;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #28A673;
  }
  .table_tAddress{

  }
}