.panel-top-radius {
  border-radius: 10px 10px 0 0;
}

.panel-radius {
  border-radius: 10px;
}

.panel-bottom-radius {
  border-radius: 0 0 10px 10px;
}

.item.m-l-n-xxs.panel-bottom-radius {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.panel.b-a.panel-radius {
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
}

.panel-top-radius .text-lt {
  font-size: 20px;
}