.panel-top-radius {
  border-radius: 10px 10px 0 0;
}

.panel-radius {
  border-radius: 10px;
}

.panel-bottom-radius {
  border-radius: 0 0 10px 10px;
}

.item.m-l-n-xxs.panel-bottom-radius {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}

.panel.b-a.panel-radius {
  border: none;
  border-radius: 10px;
  box-shadow: 0 20px 40px 0 #000;
  height: 400px;
  overflow: hidden;
}

.panel-heading.no-border.bg-primary.panel-top-radius {
  height: 100px;
}

.panel-top-radius .text-lt {
  font-size: 20px;
}

// 实时报文
.panel.b-a.panel-radius.baowen {
  background-image: url('http://ol37p4zz4.bkt.clouddn.com/bg_ssbw.png');
  height: 350px;
  //background-repeat: no-repeat;
  box-shadow: 0 20px 40px 0 #8fc261;
}

.panel.b-a.panel-radius.baowen .input {
  padding: 20px 10px 20px 10px;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.panel.b-a.panel-radius.baowen .input .form-control {
  font-size: 15px;
}

.text-baowen {
  font-size: 24px;
  font-weight: bold;
  color: #8fc261;
  margin-bottom: 6px;
}

//实时位置
.panel.b-a.panel-radius.location {
  background-image: url('http://ol37p4zz4.bkt.clouddn.com/bg_sswz.png');
  height: 350px;
  //background-repeat: no-repeat;
  box-shadow: 0 20px 40px 0 #7e8bd0;
}

.panel.b-a.panel-radius.location .input {
  padding: 20px 10px 20px 10px;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.panel.b-a.panel-radius.location .input .form-control {
  font-size: 15px;
}

.text-location {
  font-size: 24px;
  font-weight: bold;
  color: #7e8bd0;
  margin-bottom: 6px;
}

//历史轨迹
.panel.b-a.panel-radius.track {
  background-image: url('http://ol37p4zz4.bkt.clouddn.com/bg_lsgj.png');
  height: 350px;
  //background-repeat: no-repeat;
  box-shadow: 0 20px 40px 0 #f2ba7a;
}

.panel.b-a.panel-radius.track .input {
  padding: 20px 10px 20px 10px;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.panel.b-a.panel-radius.track .input .form-control {
  font-size: 15px;
}

.text-track {
  font-size: 24px;
  font-weight: bold;
  color: #f2ba7a;
  margin-bottom: 6px;
}

.track-line {
  position: relative;
}

.track-line:after {
  content: "";
  display: block;
  width: 7px;
  border-bottom: 1px solid #333;
  position: absolute;
  right: -13px;
  top: 15px;
}

.btn.btn-md.btn-block.track {
  border-radius: 5px;
  background-color: #f2ba7a;
  color: #ffffff;
}

.top5 {
  top: 5px;
}

//云箱状态汇总
.panel.b-a.panel-radius.box-status {
  background-image: url('http://ol37p4zz4.bkt.clouddn.com/bg_yxhz.png');
  height: 350px;
  //background-repeat: no-repeat;
  box-shadow: 0 20px 40px 0 #b76ebf;
}

.panel.b-a.panel-radius.box-status .input {
  padding: 20px 10px 20px 10px;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.panel.b-a.panel-radius.box-status .input .form-control {
  font-size: 15px;
}

.btn.btn-md.btn-block.box-status {
  border-radius: 5px;
  background-color: #b76ebf;
  color: #ffffff;
}

.text-box-status {
  font-size: 24px;
  font-weight: bold;
  color: #b76ebf;
  margin-bottom: 6px;
}

//报警监控
.panel.b-a.panel-radius.box-alert {
  background-image: url('http://ol37p4zz4.bkt.clouddn.com/bg_bjjk.png');
  height: 350px;
  //background-repeat: no-repeat;
  box-shadow: 0 20px 40px 0 #63b5be;
}

.panel.b-a.panel-radius.box-alert .input {
  padding: 20px 10px 20px 10px;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.panel.b-a.panel-radius.box-alert .input .form-control {
  font-size: 15px;
}

.btn.btn-md.btn-block.box-alert {
  border-radius: 5px;
  background-color: #63b5be;
  color: #ffffff;
}

.text-box-alert {
  font-size: 24px;
  font-weight: bold;
  color: #63b5be;
  margin-bottom: 6px;
}

//基本信息查询
.panel.b-a.panel-radius.box-info {
  background-image: url('http://ol37p4zz4.bkt.clouddn.com/bg_jcxx.png');
  height: 350px;
  //background-repeat: no-repeat;
  box-shadow: 0 20px 40px 0 #4cb587;
}

.panel.b-a.panel-radius.box-info .input {
  padding: 20px 10px 20px 10px;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.panel.b-a.panel-radius.box-info .input .form-control {
  font-size: 15px;
}

.btn.btn-md.btn-block.box-info {
  border-radius: 5px;
  background-color: #4cb587;
  color: #ffffff;
}

.text-box-info {
  font-size: 24px;
  font-weight: bold;
  color: #4cb587;
  margin-bottom: 6px;
}

//历史报文
.panel.b-a.panel-radius.box-history {
  background-image: url('http://ol37p4zz4.bkt.clouddn.com/bg_lsbw.png');
  height: 350px;
  //background-repeat: no-repeat;
  box-shadow: 0 20px 40px 0 #cd6868;
}

.panel.b-a.panel-radius.box-history .input {
  padding: 20px 10px 20px 10px;
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.panel.b-a.panel-radius.box-history .input .form-control {
  font-size: 15px;
}

.btn.btn-md.btn-block.box-history {
  border-radius: 5px;
  background-color: #cd6868;
  color: #ffffff;
}

.text-box-history {
  font-size: 24px;
  font-weight: bold;
  color: #cd6868;
  margin-bottom: 6px;
}

.alert-title {
  font-family: PingFangSC-Semibold;
  font-size: 24px;
  color: #63b5be;
  letter-spacing: 0;
  text-align: left;
}

.alert-title-posi {
  margin-left: 20px;
  margin-bottom: 20px;
}

.btn-alert {
  background: #7fd4db;
  border-radius: 8px;
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
}

.panel.b-a.panel-radius.overview:hover {
  background: rgba(60, 165, 226, 0.97);
  box-shadow: 0 20px 40px 0;
  cursor: pointer;
}

.boxstatus-title {
  font-family: PingFangSC-Semibold;
  font-size: 24px;
  color: #b663be;
  letter-spacing: 0;
  text-align: left;
}

.dash-line {
  position: relative;
}

.dash-line:after {
  content: "";
  display: block;
  width: 7px;
  border-bottom: 1px solid #333;
  position: absolute;
  right: -4px;
  top: 15px;
}

.btn-boxstatus {
  background: #cd9cd2;
  border-radius: 8px;
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
}

.btn-table-detail {
  background: #8496da;
  border-radius: 8px;
  padding: 5px 8px;
  font-family: PingFangSC-Semibold;
  color: #fff;
}

.history-title {
  font-family: PingFangSC-Semibold;
  font-size: 24px;
  color: #cd6868;
  letter-spacing: 0;
  text-align: left;
}

.btn-history {
  background: #da8989;
  border-radius: 8px;
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
}

.basicinfo-title {
  font-family: PingFangSC-Semibold;
  font-size: 24px;
  color: #4cb587;
  letter-spacing: 0;
  text-align: left;
}

.btn-basicinfo {
  background: #6dcda3;
  border-radius: 8px;
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0;
  text-align: center;
}

.rt-head {
  background-color: #fff;
  width: 1080px;
  height: 80px;
}

.rt-head-left {
  float: left;
  margin-left: 10px;
  padding-top: 7px;
}

.rt-head-left h3 {
  font-family: PingFangSC-Semibold;
  font-size: 24px;
  color: #8cc45c;
  letter-spacing: 0;
  text-align: left;
}

.rt-head-right {
  float: right;
  margin-right: 10px;
  padding-top: 20px;
}

.rt-search.form-control {
  display: inline-block;
  width: 230px;
  margin-right: 20px;
  font-size: 14px;
  border-radius: 8px;
  height: 40px;
}

.rt-id {
  margin-right: 8px;
  font-size: 16px;
}

.rt-btn {
  background: #9ccc73;
  border-radius: 8px;
  width: 120px;
  height: 40px;
  font-family: PingFangSC-Semibold;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  border: 1px solid #9ccc73;
}

.rt-line2 {
  margin-top: 40px;
}

.rt-brief {
  background-color: #fff;
  border-radius: 5px;
  height: 300px;
  width: 720px;
  overflow: hidden;
  float: left;
}

.rt-header {
  height: 50px;
  border-radius: 5px 5px 0 0;
  background-color: #5276e7;
  h3 {
    margin: 0;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    margin-left: 36px;
  }
}

.rt-img {
  float: left;
  margin: 21px 40px 0;
  text-align: center;
  img {
    width: 188px;
    height: 188px;
  }
  .rt-status {
    span {
      display: inline-block;
      background: #dd6d4f;
      border-radius: 16px;
      width: 40px;
      height: 18px;
      color: #fff;
      line-height: 18px;
      margin-top: 5px;
    }
  }
}

.rt-brief-content {
  float: left;
  margin-top: 21px;
  p {
    margin: 12px 0;
    font-family: PingFangSC-Light;
    font-size: 16px;
    color: #666666;
    letter-spacing: 0;
    text-align: left;
    span {
      font-family: PingFangSC-Light;
      font-size: 16px;
      color: #999999;
      letter-spacing: 0;
      text-align: left;
      display: inline-block;
      width: 5em;
      margin-right: 30px;
    }
  }
}

.rt-speed {
  float: left;
  width: 341px;
  height: 300px;
  margin-left: 19px;
  background-color: #fff;
  position: relative;
  .rt-speed-content {
    height: 251px;
    width: 341px;
  }
  .rt-speed-status {
    position: absolute;
    bottom: 48px;
    left: 42%;
    span {
      display: inline-block;
      background: #8cda94;
      border-radius: 16px;
      width: 55px;
      height: 23px;
      line-height: 23px;
      color: #fff;
      text-align: center;
    }
  }

}

.rt-line3 {
  margin-top: 40px;
}

.rt-temp {
  float: left;
  width: 249px;
  height: 300px;
  border: 1px solid #f2dede;
  border-radius: 8px;
  background-color: #fff;
  .rt-temp-header {
    height: 49px;
    border-bottom: 1px solid #e9e9e9;
    h3 {
      margin: 0;
      font-family: PingFangSC-Regular;
      font-size: 18px;
      color: #de5c6e;
      letter-spacing: 0;
      text-align: left;
      margin-left: 31px;
      line-height: 49px;
    }
  }
}

.rt-humi {
  float: left;
  width: 249px;
  height: 300px;
  border: 1px solid #f2dede;
  border-radius: 8px;
  background-color: #fff;
  margin-left: 28px;
  .rt-humi-header {
    height: 49px;
    border-bottom: 1px solid #e9e9e9;
    h3 {
      margin: 0;
      font-family: PingFangSC-Regular;
      font-size: 18px;
      color: #57a9ca;
      letter-spacing: 0;
      text-align: left;
      margin-left: 31px;
      line-height: 49px;
    }
  }
}

.rt-batt {
  float: left;
  width: 249px;
  height: 300px;
  border: 1px solid #f2dede;
  border-radius: 8px;
  background-color: #fff;
  margin-left: 28px;
  .rt-batt-header {
    height: 49px;
    border-bottom: 1px solid #e9e9e9;
    h3 {
      margin: 0;
      font-family: PingFangSC-Regular;
      font-size: 18px;
      color: #69b8a6;
      letter-spacing: 0;
      text-align: left;
      margin-left: 31px;
      line-height: 49px;
    }
  }
}

.rt-info {
  float: left;
  width: 249px;
  height: 300px;
  border: 1px solid #f2dede;
  border-radius: 8px;
  background-color: #fff;
  margin-left: 28px;
  .rt-info-header {
    height: 49px;
    border-bottom: 1px solid #e9e9e9;
    h3 {
      margin: 0;
      font-family: PingFangSC-Regular;
      font-size: 18px;
      color: #87a1b5;
      letter-spacing: 0;
      text-align: left;
      margin-left: 31px;
      line-height: 49px;
    }
  }
}

.rt-temp-content {
  text-align: center;
  .rt-temp-chart {
    margin: 22px 24px 0;
    width: 200px;
    height: 200px;
  }
  .rt-temp-status {
    margin-top: -15px;
    span {
      display: inline-block;
      background: #de5c6e;
      border-radius: 16px;
      width: 55px;
      height: 23px;
      color: #fff;
      line-height: 23px;
    }
  }
}

.rt-humi-content {
  text-align: center;
  .rt-humi-chart {
    margin: 22px 24px 0;
    width: 200px;
    height: 200px;
  }
  .rt-humi-status {
    margin-top: -15px;
    span {
      display: inline-block;
      background: #8cda94;
      border-radius: 16px;
      width: 55px;
      height: 23px;
      color: #fff;
      line-height: 23px;
    }
  }
}

.rt-batt-content {
  text-align: center;
  .rt-batt-chart {
    margin: 10px 24px 0;
    width: 200px;
    height: 200px;
  }
  .rt-batt-status {
    margin-top: -4px;
    span {
      display: inline-block;
      background: #e7c775;
      border-radius: 16px;
      width: 55px;
      height: 23px;
      color: #fff;
      line-height: 23px;
    }
  }
}

.rt-info-content {
  .rt-info-desc {
    margin: 32px 37px 0;
    height: 20px;
    .rt-coll {
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #87a1b5;
      letter-spacing: 0;
      line-height: 20px;
    }
    .rt-open {
      margin-left: 57px;
      font-family: PingFangSC-Regular;
      font-size: 14px;
      color: #87a1b5;
      letter-spacing: 0;
      line-height: 20px;
    }
  }
  .rt-info-sum {
    height: 50px;
    margin: 13px 43px 0;
    .rt-coll-sum {
      font-family: PingFangSC-Regular;
      font-size: 36px;
      color: #87a1b5;
      letter-spacing: 0;
      text-align: center;
    }
    .rt-sep {
      display: inline-block;
      border-right: 1px solid #eeeeee;
      height: 53px;
      width: 2px;
      margin: 0 0 -10px 30px;
    }
    .rt-open-sum {
      font-family: PingFangSC-Regular;
      font-size: 36px;
      color: #87a1b5;
      letter-spacing: 0;
      text-align: center;
      margin-left: 32px;
    }
  }
  .rt-info-img {
    height: 65px;
    overflow: hidden;
  }
  .rt-info-status {
    .rt-coll-status {
      display: inline-block;
      background: #8cda94;
      border-radius: 16px;
      width: 55px;
      height: 23px;
      color: #fff;
      line-height: 23px;
      text-align: center;
      margin-left: 43px;
      margin-top: 25px;
    }
    .rt-open-status {
      display: inline-block;
      background: #8dda94;
      border-radius: 16px;
      width: 55px;
      height: 23px;
      color: #fff;
      line-height: 23px;
      text-align: center;
      margin-left: 50px;
    }
  }

}

.row.ds-map {
  height: 400px;
}

.row.ds-calc {
  height: 120px;
  margin-top: 25px;
}

.ds-total {
  height: 120px;
  background-color: #e6a984;
}

.ds-lease {
  height: 120px;
  background-color: #9095ec;
}

.ds-trans {
  height: 120px;
  background-color: #6fc7d0;
}

.ds-title {
  height: 25px;
  span {
    margin: 13px 0 0 41px;
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: left;
    line-height: 25px;
  }
}

.ds-num {
  height: 50px;
  p {
    margin: 10px 0 0 41px;
    font-family: PingFangSC-Medium;
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: left;
    line-height: 50px;
    span {
      font-size: 36px;
      color: #ffffff;
      letter-spacing: 0;
      text-align: center;
      line-height: 50px;
    }
  }
}

.ds-progress {
  margin: 7px 20% 0 41px;
  .progress {
    height: 5px;
    background-color: #d8d8d8;
    .progress-bar {
      background-color: #fff;
    }
  }
}

.row.ds-chart {
  margin-top: 26px;
  .ds-pie {
    border-radius: 8px;
    height: 350px;
    background-color: #fff;
    .ds-pie-title {
      height: 25px;
      span {
        margin-top: 25px;
        margin-left: 51px;
        display: inline-block;
        font-family: PingFangSC-Regular;
        font-size: 18px;
        color: #666666;
        letter-spacing: 0;
        text-align: left;
        line-height: 25px;
      }
    }
    .ds-pie-chart {
      height: 300px;
      margin-top: 30px;
    }

  }
  .ds-line {
    border-radius: 8px;
    height: 350px;
    background-color: #fff;
    .ds-line-title {
      height: 25px;
      span {
        margin-top: 25px;
        margin-left: 51px;
        display: inline-block;
        font-family: PingFangSC-Regular;
        font-size: 18px;
        color: #666666;
        letter-spacing: 0;
        text-align: left;
        line-height: 25px;
      }
    }
    .ds-line-chart {
      height: 300px;
      margin-top: 30px;
    }

  }
}

.ls-middle {
  background-color: #fff;
  margin-top: 30px;
  height: 80px;
}

.pull-left.ls-title {
  margin: 23px 0 23px 57px;
  span {
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #8496da;
    letter-spacing: 0;
    text-align: left;
    line-height: 33px;
  }
}

.pull-right.ls-desc {
  margin: 28px 110px 23px 0;
  height: 25px;
  img {
    padding-bottom: 5px;
  }
  span {
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #8496da;
    letter-spacing: 0;
    text-align: right;
    line-height: 25px;
  }
}

.row.ls-table {
  background-color: #fff;
  margin-top: 1px;
}

.ls-info {
  height: 400px;
  width: 313px;
  opacity: 0.85;
  background-color: #ffffff;
  position: absolute;
  right: 0;
  top: 70px;
}

.ls-fade.ng-hide {
  transition: 0.7s linear all;
  opacity: 0;
}

.ls-content {
  list-style-type: none;
  li {
    margin-top: 15px;
    span {
      padding: 0 3px;
      text-align: center;
      display: inline-block;
      height: 24px;
      border: 1px solid #78c5ab;
      border-radius: 8px;
      line-height: 24px;
      color: #78c5ab;
    }
    p {
      margin-top: 6px;;
      height: 22px;
      font-family: PingFangSC-Light;
      font-size: 16px;
      color: #666666;
      letter-spacing: 0;
      text-align: left;
      line-height: 22px;
    }

  }

}





