.mapview {
  // width: 100%;
  min-height: calc(100vh - 10);
}

.embeded_mapview {
  // width: 100%;
  min-height: 400px;
}

.floating-panel {
  position: absolute;
  width: 90%;
  top: 100px;
  left: 5%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

.floating-panel {
  background: #fff;
  padding: 5px;
  font-size: 14px;
  font-family: Arial;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
  // display: none;
}

